src/main/resources/wsdl/filingreview/ecf-24.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><!--
     Electronic Court Filing Version 4.01 Plus Errata 01
     OASIS Standard incorporating Public Review Draft 01 of Errata 01
     13 May 2014
     Copyright (c) OASIS Open 2014. All Rights Reserved.
     Source: http://docs.oasis-open.org/legalxml-courtfiling/specs/ecf/v4.01/ecf-v4.01-spec/errata01/csprd01/xsd/
     --><!--
OASIS takes no position regarding the validity or scope of any intellectual property or other rights that might be claimed to pertain to the implementation or use of the technology described in this document or the extent to which any license under such rights might or might not be available; neither does it represent that it has made any effort to identify any such rights. Information on OASIS's procedures with respect to rights in OASIS specifications can be found at the OASIS website. Copies of claims of rights made available for publication and any assurances of licenses to be made available, or the result of an attempt made to obtain a general license or permission for the use of such proprietary rights by implementors or users of this specification, can be obtained from the OASIS Executive Director.
 
This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this paragraph are included on all such copies and derivative works. However, this document itself may not be modified in any way, such as by removing the copyright notice or references to OASIS, except as needed for the purpose of developing OASIS specifications, in which case the procedures for copyrights defined in the OASIS Intellectual Property Rights document must be followed, or as required to translate it into languages other than English. 

The limited permissions granted above are perpetual and will not be revoked by OASIS or its successors or assigns. 

This document and the information contained herein is provided on an "AS IS" basis and OASIS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.

--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:DomesticCase-4.0" xmlns:a="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppInfo-4.0" xmlns:ecf="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.0" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:scr="http://niem.gov/niem/domains/screening/2.0" targetNamespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:DomesticCase-4.0" version="4.0">
	<xsd:annotation>
		<xsd:documentation>DomesticCase</xsd:documentation>
		<xsd:appinfo>
			<i:ConformantIndicator>true</i:ConformantIndicator>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="ecf-2.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="ecf-3.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="ecf-4.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="ecf-13.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.0" schemaLocation="ecf-17.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/domains/screening/2.0" schemaLocation="ecf-25.xsd"/>
	<xsd:import namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" schemaLocation="ecf-18.xsd"/>
	<xsd:import namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppInfo-4.0" schemaLocation="ecf-19.xsd"/>
	<xsd:complexType name="DomesticCaseType">
		<xsd:annotation>
			<xsd:documentation>Information required to initiate a new domestic case in a court. "Domestic" includes divorces, legal separations, annulment, child custody and visitation, paternity, child support, and domestic violence cases.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:CaseType">
				<xsd:sequence>
					<xsd:element ref="j:CaseAugmentation"/>
					<xsd:element ref="ecf:CaseAugmentation"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:ImmediateFamilyAssociation"/>
					<xsd:element ref="ecf:CauseOfActionCode"/>
					<xsd:element ref="CaseContestedIndicator"/>
					<xsd:element maxOccurs="unbounded" ref="DomesticCasePerson"/>
					<xsd:element minOccurs="0" ref="DomesticCaseViolencePetition"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="DomesticCaseChildSupportPetition"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="DomesticCaseOrder"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="MarriageAssociation"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DomesticCaseChildSupportPetitionType">
		<xsd:annotation>
			<xsd:documentation>Information concerning a petition for child support.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:ImmediateFamilyAssociation"/>
					<xsd:element minOccurs="0" ref="JurisdictionReasonText"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DomesticCaseObligationType">
		<xsd:annotation>
			<xsd:documentation>A responsibility of a party in a case ordered by a court.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ObligationRecurrenceType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="FinancialObligation"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DomesticCaseOrderType">
		<xsd:annotation>
			<xsd:documentation>Information concerning a court order in a domestic case.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="j:CourtOrderType">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="DomesticCaseOrderTypeText"/>
					<xsd:element minOccurs="0" ref="CourtFindingsText"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="DomesticCaseObligation"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DomesticCaseViolencePetitionType">
		<xsd:annotation>
			<xsd:documentation>Information concerning a petition for domestic violence restraining or protective order.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="RequestToVacateCode"/>
					<xsd:element ref="RequestToVacateText"/>
					<xsd:element ref="StayawayDistanceText"/>
					<xsd:element ref="NoContactCode"/>
					<xsd:element ref="CustodyDescriptionText"/>
					<xsd:element ref="ChildSupportText"/>
					<xsd:element ref="RespondentDangerAlertIndicator"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FinancialObligationType">
		<xsd:annotation>
			<xsd:documentation>A financial responsibility of a party in a case ordered by a court.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ObligationType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="ObligationPaymentAmount"/>
					<xsd:element minOccurs="0" ref="ObligationIncomeAttachedIndicator"/>
					<xsd:element minOccurs="0" ref="ObligationStateDisbursementIndicator"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MarriageAssociationType">
		<xsd:annotation>
			<xsd:documentation>Information about a marriage, civil domestic union, or other domestic relationship defined by law.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:PersonUnionAssociationType">
				<xsd:sequence>
					<xsd:element ref="scr:MarriageAssociationAugmentation"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="CaseContestedIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Whether a divorce is contested.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChildSupportText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Description of temporary child support award that the court is being asked to order.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CourtFindingsText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A description of the findings of the court.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CustodyDescriptionText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Description of temporary custody award that court is being asked to include in the order.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DivorcePendingIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicates if there is an ongoing divorce case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DomesticCaseChildSupportPetition" type="DomesticCaseChildSupportPetitionType">
		<xsd:annotation>
			<xsd:documentation>Information concerning a  petition for child support.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DomesticCaseOrder" type="DomesticCaseOrderType">
		<xsd:annotation>
			<xsd:documentation>Information concerning a court order in a domestic case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DomesticCaseOrderTypeText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Category of order, including Establish, Modify, Enforce, Modify and Enforce, and Vacate.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DomesticCase" substitutionGroup="nc:Case" type="DomesticCaseType">
		<xsd:annotation>
			<xsd:documentation>Information required to initiate a new domestic case in a court. "Domestic" includes divorces, legal separations, annulment, child custody and visitation, paternity, child support, and domestic violence cases.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="Fingerprint" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DomesticCasePerson" type="ecf:PersonType">
		<xsd:annotation>
			<xsd:documentation>Information about persons in a domestic case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DomesticCaseViolencePetition" type="DomesticCaseViolencePetitionType">
		<xsd:annotation>
			<xsd:documentation>Information concerning a petition for domestic violence restraining or protective order</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DomesticCaseObligation" type="DomesticCaseObligationType">
		<xsd:annotation>
			<xsd:documentation>A responsibility of a party in a case ordered by a court.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FinancialObligation" type="FinancialObligationType">
		<xsd:annotation>
			<xsd:documentation>A financial responsibility of a party in a case ordered by a court.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="JurisdictionReasonText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Text that extablishes jurisdiction to award custody in a case (e.g. addresses of petitioner and child for the last five years, identification of related and ongoing cases, the home state of the child, and who has current custody).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MarriageAssociation" type="MarriageAssociationType">
		<xsd:annotation>
			<xsd:documentation>Information about a marriage, civil domestic union, or other domestic relationship defined by law.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NoContactCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Means of communication with initiating party that the court is being asked to prohibit. Allowed values to be set forth in Court Policy.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
				<a:CodeListReference a:CanonicalURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:NoContactCode" a:CanonicalVersionURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:NoContactCode-4.0" a:LocationURI="../../gc/ECF-4.0-NoContactCode.gc"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ObligationIncomeAttachedIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the responsible party's income should be attached.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ObligationPaymentAmount" type="nc:AmountType">
		<xsd:annotation>
			<xsd:documentation>An amount owed each payment period.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ObligationStateDisbursementIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the obligation will be collected and disbursed by a state agency.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RequestToVacateCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Designation of place that abuser will be ordered to vacate. Allowable values to be set forth in Court Policy.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RequestToVacateText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Open text designation of place that abuser will be ordered to vacate. This should contain a description of the place, and its location.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RespondentDangerAlertIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Whether the person against whom a proposed order would be entered should be considered a danger to others, including law enforcement officers responding to a domestic disturbance call.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StayawayDistanceText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Description of the distance abuser must maintain from abused person(s).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>