TylerEcf4/src/main/resources/wsdl/v2025_0/base/ecf-v5-32.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><!-- NIEM extension schema generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/caserequest" xmlns:caserequest="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/caserequest" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.0/" xmlns:local="local" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/caserequest" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/caserequest</xs:documentation>
</xs:annotation><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf-v5-3.xsd"/><xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.0/" schemaLocation="ecf-v5-15.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecf-v5-5.xsd"/><xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="ecf-v5-12.xsd"/><xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="ecf-v5-7.xsd"/><!--Genericode code list CourtEventTypeCode.gc--><xs:complexType name="CaseQueryCriteriaType">
<xs:annotation>
<xs:documentation>Criteria limiting the case information to be returned.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" ref="caserequest:CalendarEventTimeRange"/>
<xs:element maxOccurs="1" minOccurs="0" ref="caserequest:DocketEntryTimeRange"/>
<xs:element maxOccurs="1" minOccurs="1" ref="caserequest:DocketEntryTypeCodeFilterText"/>
<xs:element maxOccurs="1" minOccurs="1" ref="caserequest:IncludeCalendarEventIndicator"/>
<xs:element maxOccurs="1" minOccurs="1" ref="caserequest:IncludeDocketEntryIndicator"/>
<xs:element maxOccurs="1" minOccurs="1" ref="caserequest:IncludeParticipantsIndicator"/>
<xs:element maxOccurs="1" minOccurs="1" ref="ecf:CourtEventTypeCode"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="GetCaseRequestMessageType">
<xs:annotation>
<xs:documentation>A message requesting a list of cases from a court case management information system conforming to the parameter or parameters identified in the message.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:RequestMessageType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" ref="caserequest:CaseQueryCriteria"/>
<xs:element maxOccurs="2" minOccurs="1" ref="nc:CaseTrackingID"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="caserequest:GetCaseRequestMessageAugmentationPoint"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="CalendarEventTimeRange" nillable="false" type="nc:DateRangeType">
<xs:annotation>
<xs:documentation>A filter criterion for calendar events. If present, the response should only include calendar events that fall between the from and to dates and times.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CaseQueryCriteria" nillable="false" type="caserequest:CaseQueryCriteriaType">
<xs:annotation>
<xs:documentation>Criteria limiting the case information to be returned.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocketEntryTimeRange" nillable="false" type="nc:DateRangeType">
<xs:annotation>
<xs:documentation>A filter criterion for docket entries. If present, the response should only include docket entries that fall between the from and to dates and times.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocketEntryTypeCodeFilterText" nillable="false" type="nc:TextType">
<xs:annotation>
<xs:documentation>Filter criterion indicating that only docket entries of a specified type are being requested.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="GetCaseRequestMessage" nillable="false" type="caserequest:GetCaseRequestMessageType">
<xs:annotation>
<xs:documentation>A message requesting a list of cases from a court case management information system conforming to the parameter or parameters identified in the message.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element abstract="true" name="GetCaseRequestMessageAugmentationPoint">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="IncludeCalendarEventIndicator" nillable="false" type="niem-xs:boolean">
<xs:annotation>
<xs:documentation>Indicates whether requester wishes calendar event information to be included in the response.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="IncludeDocketEntryIndicator" nillable="false" type="niem-xs:boolean">
<xs:annotation>
<xs:documentation>Indicates whether requester wishes docket entry information to be included in the response.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="IncludeParticipantsIndicator" nillable="false" type="niem-xs:boolean">
<xs:annotation>
<xs:documentation>Indicates whether requester wishes participant information to be included in the response.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>