proxyserver/src/main/resources/wsdl/test/mock-CourtSchedulingMDE.wsdl

<?xml
	version="1.0"
	encoding="UTF-8"
	standalone="no"?>
<definitions
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/WSDL/CourtSchedulingMDE"
	xmlns:wrapper="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/MessageWrappers"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsrmp="http://docs.oasis-open.org/ws-rx/wsrmp/200702"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-361-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/WSDL/CourtSchedulingMDE">
  <wsdl:types>
    <xsd:schema>
      <xsd:import
      	namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/MessageWrappers"
      	schemaLocation="../stage/ecf-v5-1.xsd"></xsd:import>
    </xsd:schema>
  </wsdl:types>
  <message
  	name="GetCourtScheduleRequest">
    <part
    	element="wrapper:GetCourtScheduleRequest"
    	name="body"></part>
  </message>
  <message
  	name="GetCourtScheduleResponse">
    <part
    	element="wrapper:GetCourtScheduleResponse"
    	name="body"></part>
  </message>
  <message
  	name="NotifyCourtDateRequest">
    <part
    	element="wrapper:NotifyCourtDateRequest"
    	name="body"></part>
  </message>
  <message
  	name="NotifyCourtDateResponse">
    <part
    	element="wrapper:NotifyCourtDateResponse"
    	name="body"></part>
  </message>
  <message
  	name="ReserveCourtDateRequest">
    <part
    	element="wrapper:ReserveCourtDateRequest"
    	name="body"></part>
  </message>
  <message
  	name="ReserveCourtDateResponse">
    <part
    	element="wrapper:ReserveCourtDateResponse"
    	name="body"></part>
  </message>
  <message
  	name="ReserveCourtDateSyncResponse">
    <part
    	element="wrapper:ReserveCourtDateSyncResponse"
    	name="body"></part>
  </message>
  <message
  	name="GetReturnDateRequest">
    <part
    	element="wrapper:ReturnDateRequest"
    	name="body"></part>
  </message>
  <message
  	name="GetReturnDateResponse">
    <part
    	element="wrapper:ReturnDateResponse"
    	name="body"></part>
  </message>
  <portType
  	name="CourtSchedulingMDE">
    <operation
    	name="GetCourtSchedule">
      <input
      	message="tns:GetCourtScheduleRequest"></input>
      <output
      	message="tns:GetCourtScheduleResponse"></output>
    </operation>
    <operation
    	name="NotifyCourtDate">
      <input
      	message="tns:NotifyCourtDateRequest"></input>
      <output
      	message="tns:NotifyCourtDateResponse"></output>
    </operation>
    <operation
    	name="ReserveCourtDateSync">
      <input
      	message="tns:ReserveCourtDateRequest"></input>
      <output
      	message="tns:ReserveCourtDateSyncResponse"></output>
    </operation>
    <operation
    	name="GetReturnDate">
      <input
      	message="tns:GetReturnDateRequest"></input>
      <output
      	message="tns:GetReturnDateResponse"></output>
    </operation>
  </portType>
  <binding
  	name="CourtSchedulingMDESoap"
  	type="tns:CourtSchedulingMDE">
    <soap:binding
    	style="document"
    	transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <operation
    	name="GetCourtSchedule">
      <soap:operation
      	soapAction="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/WSDL/CourtSchedulingMDE/GetCourtSchedule"></soap:operation>
      <input>
        <soap:body
        	use="literal"></soap:body>
      </input>
      <output>
        <soap:body
        	use="literal"></soap:body>
      </output>
    </operation>
    <operation
    	name="NotifyCourtDate">
      <soap:operation
      	soapAction="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/WSDL/CourtSchedulingMDE/NotifyCourtDate"></soap:operation>
      <input>
        <soap:body
        	use="literal"></soap:body>
      </input>
      <output>
        <soap:body
        	use="literal"></soap:body>
      </output>
    </operation>
    <operation
    	name="ReserveCourtDate">
      <soap:operation
      	soapAction="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/WSDL/CourtSchedulingMDE/ReserveCourtDate"></soap:operation>
      <input>
        <soap:body
        	use="literal"></soap:body>
      </input>
      <output>
        <soap:body
        	use="literal"></soap:body>
      </output>
    </operation>
    <operation
    	name="ReserveCourtDateSync">
      <soap:operation
      	soapAction="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/WSDL/CourtSchedulingMDE/ReserveCourtDateSync"></soap:operation>
      <input>
        <soap:body
        	use="literal"></soap:body>
      </input>
      <output>
        <soap:body
        	use="literal"></soap:body>
      </output>
    </operation>
    <operation
    	name="GetReturnDate">
      <soap:operation
      	soapAction="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/WSDL/CourtSchedulingMDE/GetReturnDate"></soap:operation>
      <input>
        <soap:body
        	use="literal"></soap:body>
      </input>
      <output>
        <soap:body
        	use="literal"></soap:body>
      </output>
    </operation>
  </binding>
  <service
  	name="CourtSchedulingMDE">
    <port
    	binding="tns:CourtSchedulingMDESoap"
    	name="CourtSchedulingMDEPort">
      <soap:address
      	location="http://hOst.docker.internal:8080/efm/CourtSchedulingMDE.svc"></soap:address>
    </port>
  </service>
</definitions>
