src/main/resources/wsdl/stage/ecf-v5-39.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><!-- NIEM extension schema generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/feesrequest" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:feesrequest="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/feesrequest" xmlns:filing="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filing" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.0/" xmlns:local="local" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/feesrequest" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/feesrequest</xs:documentation>
</xs:annotation><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf-v5-3.xsd"/><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filing" schemaLocation="ecf-v5-36.xsd"/><xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.0/" schemaLocation="ecf-v5-15.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecf-v5-5.xsd"/><xs:complexType name="GetFeesCalculationRequestMessageType">
<xs:annotation>
<xs:documentation>This query is a request for the total amount of court fees required for filing of one or more documents in a case.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:RequestMessageType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" ref="filing:FilingMessage"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="feesrequest:GetFeesCalculationRequestMessageAugmentationPoint"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="GetFeesCalculationRequestMessage" nillable="false" type="feesrequest:GetFeesCalculationRequestMessageType">
<xs:annotation>
<xs:documentation>This query is a request for the total amount of court fees required for filing of one or more documents in a case.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element abstract="true" name="GetFeesCalculationRequestMessageAugmentationPoint">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>