src/main/resources/wsdl/stage/ecf5-full-f80a207221f28385.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><!-- edited with XMLSpy v2018 sp1 (x64) (http://www.altova.com) by Tyler Technologies (Tyler Technologies) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:tyler:ecf:v5.0:extensions:taxdelinquency" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:common="urn:tyler:ecf:v5.0:extensions:common" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.1/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" targetNamespace="urn:tyler:ecf:v5.0:extensions:taxdelinquency" version="5.0">
	<xs:annotation>
		<xs:documentation> Schema for namespace urn:tyler:ecf:v5.0:extensions:taxdelinquency</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:tyler:ecf:v5.0:extensions:common" schemaLocation="ecf5-full-90b994a1b7805590.xsd"/>
	<xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf5-full-ea1e0f75b69752b5.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecf5-full-7af13829a6695741.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="ecf5-full-43381e9aa490c46d.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="ecf5-full-4d179e3e0bd140a9.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.1/" schemaLocation="ecf5-full-3fca6aa6e33300e4.xsd"/>
	<xs:complexType name="PartyServiceType">
		<xs:sequence>
			<xs:element ref="common:PartyReference"/>
			<xs:element ref="ServiceTypeCode"/>
			<xs:element ref="DeliveryMethodCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ServiceTypeCode" type="nc:TextType"/>
	<xs:element name="DeliveryMethodCode" type="nc:TextType"/>
	<xs:element name="PartyService" type="PartyServiceType"/>
	<xs:complexType name="CaseAbstractorType">
		<xs:sequence>
			<xs:element ref="Abstractor"/>
			<xs:element ref="Fees"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Abstractor" type="nc:EntityType"/>
	<xs:element name="Fees" type="nc:AmountType"/>
	<xs:element name="CaseAbstractor" type="CaseAbstractorType"/>
	<xs:complexType name="CaseAugmentationType">
		<xs:complexContent>
			<xs:extension base="structures:AugmentationType">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" ref="CaseAbstractor"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" ref="PartyService"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" ref="PropertyAccountNumber"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PropertyAccountNumber" type="nc:TextType"/>
	<xs:element name="CaseAugmentation" substitutionGroup="nc:CaseAugmentationPoint" type="CaseAugmentationType"/>
</xs:schema>