src/main/resources/wsdl/stage/ecf5-full-f92089dccb563884.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:tyler:ecf:v5.0:extensions:returndate" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.1/" xmlns:local="local" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:returndate="urn:tyler:ecf:v5.0:extensions:returndate" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:tyler="urn:tyler:ecf:v5.0:extensions:common" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" targetNamespace="urn:tyler:ecf:v5.0:extensions:returndate" version="5.0">
	<xs:annotation>
		<xs:documentation> Schema for namespace urn:tyler:ecf:v5.0:extensions:getreturndate</xs:documentation>
	</xs:annotation>
	<xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf5-full-ea1e0f75b69752b5.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.1/" schemaLocation="ecf5-full-3fca6aa6e33300e4.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecf5-full-7af13829a6695741.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="ecf5-full-4d179e3e0bd140a9.xsd"/>
	<xs:import namespace="urn:tyler:ecf:v5.0:extensions:common" schemaLocation="ecf5-full-90b994a1b7805590.xsd"/>
	<xs:complexType name="ReturnDateMessageType">
		<xs:complexContent>
			<xs:extension base="ecf:CaseFilingType">
				<xs:sequence>
					<xs:element minOccurs="0" ref="ecf:CaseParticipantRoleCode"/>
					<xs:element minOccurs="0" ref="nc:Case"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" ref="returndate:ReturnDateMessageAugmentationPoint"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ReturnDateMessage" nillable="false" type="returndate:ReturnDateMessageType"/>
	<xs:element abstract="true" name="ReturnDateMessageAugmentationPoint">
		<xs:annotation>
			<xs:documentation>An augmentation</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>