src/main/resources/wsdl/stage/ecf5-full-domestic.xsd

<?xml version="1.0" encoding="windows-1252"?>
<!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) -->
<xs:schema targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/domestic" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/domestic" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:domestic="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/domestic" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:hs="http://release.niem.gov/niem/domains/humanServices/4.1/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.1/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/domestic</xs:documentation>
</xs:annotation><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf5-full-ea1e0f75b69752b5.xsd"/>
<xs:import namespace="http://release.niem.gov/niem/domains/humanServices/4.1/" schemaLocation="ecf5-full-77c550f4768f1921.xsd"/>
<xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.1/" schemaLocation="ecf5-full-3fca6aa6e33300e4.xsd"/>
<xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecf5-full-7af13829a6695741.xsd"/>
<xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="ecf5-full-4d179e3e0bd140a9.xsd"/>
<xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="ecf5-full-43381e9aa490c46d.xsd"/>
<xs:complexType name="CaseAugmentationType">
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="domestic:CaseContestedIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element ref="domestic:DomesticCaseOrder" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="domestic:DomesticViolencePetition" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:CaseCauseOfActionCode" minOccurs="1" maxOccurs="1"/>
<xs:element ref="hs:ChildSupportEnforcementCase" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="hs:ParentChildAssociation" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="hs:PersonCaseAssociation" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="nc:PersonUnionAssociation" minOccurs="0" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="DomesticCaseOrderType">
<xs:annotation>
<xs:documentation>Information concerning a court order in a domestic case.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="j:CourtOrderType">
<xs:sequence>
<xs:element ref="domestic:CourtFindingsText" minOccurs="0" maxOccurs="1"/>
<xs:element ref="domestic:DomesticCaseOrderTypeText" minOccurs="0" maxOccurs="1"/>
<xs:element ref="domestic:FinancialObligation" minOccurs="0" maxOccurs="unbounded"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="DomesticViolencePetitionType">
<xs:annotation>
<xs:documentation>Information concerning a petition for domestic violence restraining or protective order.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element ref="domestic:ChildSuportText" minOccurs="1" maxOccurs="1"/>
<xs:element ref="domestic:CustodyDescriptionText" minOccurs="1" maxOccurs="1"/>
<xs:element ref="domestic:RespondentDangerAlertindicator" minOccurs="1" maxOccurs="1"/>
<xs:element ref="j:ProtectionOrder" minOccurs="0" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="FinancialObligationType">
<xs:annotation>
<xs:documentation>A financial responsibility of a party in a case ordered by a court.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="nc:ObligationType">
<xs:sequence>
<xs:element ref="domestic:IncomeAttachedIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element ref="domestic:ObligationPaymentAmount" minOccurs="1" maxOccurs="1"/>
<xs:element ref="hs:StateDisbursementIndicator" minOccurs="0" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:element name="CaseAugmentation" type="domestic:CaseAugmentationType" substitutionGroup="nc:CaseAugmentationPoint" nillable="true">

<xs:annotation>
<xs:documentation>Information required to initiate a new domestic case in a court.  "Domestic" includes divorces, legal separations, annulment, child custody and visitation, paternity, child support, and domestic violence cases.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CaseContestedIndicator" type="niem-xs:boolean">

<xs:annotation>
<xs:documentation>Whether a divorce is contested.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ChildSuportText" type="nc:TextType">

<xs:annotation>
<xs:documentation>Description of temporary child support award that the court is being asked to order.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CourtFindingsText" type="nc:TextType">

<xs:annotation>
<xs:documentation>A description of the findings of the court.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CustodyDescriptionText" type="nc:TextType">

<xs:annotation>
<xs:documentation>Description of temporary custody award that court is being asked to include in the order.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DomesticCaseOrder" type="domestic:DomesticCaseOrderType">

<xs:annotation>
<xs:documentation>Information concerning a court order in a domestic case.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DomesticCaseOrderTypeText" type="nc:TextType">

<xs:annotation>
<xs:documentation>Category of order, including Establish, Modify, Enforce, Modify and Enforce, and Vacate.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DomesticViolencePetition" type="domestic:DomesticViolencePetitionType">

<xs:annotation>
<xs:documentation>Information concerning a petition for domestic violence restraining or protective order.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="FinancialObligation" type="domestic:FinancialObligationType">

<xs:annotation>
<xs:documentation>A responsibility of a party in a case ordered by a court.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="IncomeAttachedIndicator" type="niem-xs:boolean">

<xs:annotation>
<xs:documentation>Indicates whether the responsible party income should be attached.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ObligationPaymentAmount" type="nc:AmountType">

<xs:annotation>
<xs:documentation>he amount owed each payment period.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="RespondentDangerAlertindicator" type="niem-xs:boolean">

<xs:annotation>
<xs:documentation>Whether the person against whom a proposed order would be entered should be considered a danger to others, including law enforcement officers responding to a domestic disturbance call.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>