src/main/resources/wsdl/stage/ecf5-full-8c292879e0404171.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filinglistrequest" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:filinglistrequest="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filinglistrequest" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.1/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filinglistrequest" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filinglistrequest</xs:documentation>
</xs:annotation><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf5-full-ea1e0f75b69752b5.xsd"/><xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.1/" schemaLocation="ecf5-full-3fca6aa6e33300e4.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecf5-full-7af13829a6695741.xsd"/><xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="ecf5-full-43381e9aa490c46d.xsd"/><xs:complexType name="FilingListQueryCriteriaType">
<xs:annotation>
<xs:documentation>Criteria limiting the list of filings to be returned.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="ecf:CaseTrackingID"/>
<xs:element maxOccurs="1" minOccurs="0" ref="j:CaseNumberText"/>
<xs:element maxOccurs="1" minOccurs="0" ref="nc:DateRange"/>
<xs:element maxOccurs="1" minOccurs="0" ref="nc:DocumentIdentification"/>
<xs:element maxOccurs="1" minOccurs="0" ref="nc:DocumentSubmitter"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="GetFilingListRequestMessageType">
<xs:annotation>
<xs:documentation>This is query to get a list of filings by Filer Identification, Case Identifier, or time period.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:RequestMessageType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" ref="filinglistrequest:FilingListQueryCriteria"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="filinglistrequest:GetFilingListRequestMessageAugmentationPoint"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:element name="FilingListQueryCriteria" type="filinglistrequest:FilingListQueryCriteriaType">

<xs:annotation>
<xs:documentation>Criteria limiting the list of filings to be returned.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="GetFilingListRequestMessage" type="filinglistrequest:GetFilingListRequestMessageType">

<xs:annotation>
<xs:documentation>This is query to get a list of filings by Filer Identification, Case Identifier, or time period.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element abstract="true" name="GetFilingListRequestMessageAugmentationPoint">

<xs:annotation>
<xs:documentation>An extension point for the enclosing message.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>