src/main/resources/wsdl/stage/ecf5-full-2e48a12cd5d55125.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/allocatedate" xmlns:allocatedate="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/allocatedate" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:xcal="urn:ietf:params:xml:ns:icalendar-2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/allocatedate" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/allocatedate</xs:documentation>
</xs:annotation><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf5-full-ea1e0f75b69752b5.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecf5-full-7af13829a6695741.xsd"/><xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="ecf5-full-43381e9aa490c46d.xsd"/><xs:import namespace="urn:ietf:params:xml:ns:icalendar-2.0" schemaLocation="ecf5-full-5895364ae0d78979.xsd"/><xs:complexType name="AllocateCourtDateMessageType">
<xs:annotation>
<xs:documentation>A request to allocate a court date on the schedule.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:CaseFilingType">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="allocatedate:AllocateCourtDateMessageAugmentationPoint"/>
<xs:element maxOccurs="1" minOccurs="0" ref="nc:Case"/>
<xs:element maxOccurs="1" minOccurs="0" ref="xcal:icalendar"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:element name="AllocateCourtDateMessage" type="allocatedate:AllocateCourtDateMessageType">

<xs:annotation>
<xs:documentation>A request to allocate a court date on the schedule.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element abstract="true" name="AllocateCourtDateMessageAugmentationPoint">

<xs:annotation>
<xs:documentation>An extension point for the enclosing message.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>