src/main/resources/wsdl/stage/ecf5-full-7812ee3601db8ddc.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/cancel" xmlns:cancel="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/cancel" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/cancel" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/cancel</xs:documentation>
</xs:annotation><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf5-full-ea1e0f75b69752b5.xsd"/><xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="ecf5-full-43381e9aa490c46d.xsd"/><xs:complexType name="CancelFilingMessageType">
<xs:annotation>
<xs:documentation>This is a request from the filer to the reviewer to cancel a previously submitted filing.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:RequestMessageType">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="cancel:CancelFilingMessageAugmentationPoint"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:element name="CancelFilingMessage" type="cancel:CancelFilingMessageType">

<xs:annotation>
<xs:documentation>This is a request from the filer to the reviewer to cancel a previously submitted filing.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element abstract="true" name="CancelFilingMessageAugmentationPoint">

<xs:annotation>
<xs:documentation>An extension point for the enclosing message.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>