src/main/resources/wsdl/stage/ecf5-full-appellate.xsd

<?xml version="1.0" encoding="windows-1252"?>
<!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) -->
<xs:schema targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/appellate" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/appellate" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:appellate="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/appellate" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.1/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/appellate</xs:documentation>
</xs:annotation><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf5-full-ea1e0f75b69752b5.xsd"/>
<xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.1/" schemaLocation="ecf5-full-3fca6aa6e33300e4.xsd"/>
<xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecf5-full-7af13829a6695741.xsd"/>
<xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="ecf5-full-4d179e3e0bd140a9.xsd"/>
<xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="ecf5-full-43381e9aa490c46d.xsd"/>
<xs:complexType name="AppellateCaseAddedPartyType">
<xs:annotation>
<xs:documentation>Party added to the appeal that was not  a party in the original case.  For instance, the attorney in the original case may appeal sanctions against the attorney by the court.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element ref="appellate:AppellateCasePartyAddedReasonText" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:CaseParty" minOccurs="1" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="AppellateCaseRemovedPartyType">
<xs:annotation>
<xs:documentation>Party to the original case that is not party to the appeal.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element ref="appellate:AppellateCasePartyRemovedReasonText" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:CaseParty" minOccurs="1" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="AppellateCourtRuleCaseType">
<xs:annotation>
<xs:documentation>Additional information specific to court rule appellate cases.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element ref="appellate:RuleCollectionNumber" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="appellate:RuleCollectionText" minOccurs="0" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="CaseAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation type</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="appellate:AppellantInCustodyIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element ref="appellate:AppellateCaseAddedParty" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="appellate:AppellateCaseJurisdictionBasisText" minOccurs="0" maxOccurs="1"/>
<xs:element ref="appellate:AppellateCaseRemovedParty" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="appellate:AppellateCaseSettlementRequestText" minOccurs="0" maxOccurs="1"/>
<xs:element ref="appellate:AppellateCourtRuleCase" minOccurs="0" maxOccurs="1"/>
<xs:element ref="appellate:FeesWaivedIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element ref="j:AppellateCase" minOccurs="1" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:element name="AppellantInCustodyIndicator" type="niem-xs:boolean">

<xs:annotation>
<xs:documentation>Indicator that the appellant is currently in custody.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="AppellateCaseAddedParty" type="appellate:AppellateCaseAddedPartyType">

<xs:annotation>
<xs:documentation>Party added to the appeal that was not  a party in the original case.  For instance, the attorney in the original case may appeal sanctions against the attorney by the court.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="AppellateCaseJurisdictionBasisText" type="nc:TextType">

<xs:annotation>
<xs:documentation>The basis for the jurisdiction of the appellate court in the case.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="AppellateCasePartyAddedReasonText" type="nc:TextType">

<xs:annotation>
<xs:documentation>The reason a party is being added to the appeal.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="AppellateCasePartyRemovedReasonText" type="nc:TextType">

<xs:annotation>
<xs:documentation>The reason a party is being removed from the appeal.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="AppellateCaseRemovedParty" type="appellate:AppellateCaseRemovedPartyType">

<xs:annotation>
<xs:documentation>Party to the original case that is not party to the appeal.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="AppellateCaseSettlementRequestText" type="nc:TextType">

<xs:annotation>
<xs:documentation>A request for diversion to a settlement program in the appellate court.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="AppellateCourtRuleCase" type="appellate:AppellateCourtRuleCaseType">

<xs:annotation>
<xs:documentation>Additional information specific to court rule appellate cases.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CaseAugmentation" type="appellate:CaseAugmentationType" substitutionGroup="nc:CaseAugmentationPoint" nillable="true">

<xs:annotation>
<xs:documentation>Additional information specific to appellate cases.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="FeesWaivedIndicator" type="niem-xs:boolean">

<xs:annotation>
<xs:documentation>Indicator that filing fees were waived or deferred in the case in the lower court.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="RuleCollectionNumber" type="nc:NumericType">

<xs:annotation>
<xs:documentation>An organized set or book of rules of the court that include the rule(s) in question.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="RuleCollectionText" type="nc:TextType">

<xs:annotation>
<xs:documentation>A rule number (including rule subsection) in question.  Each rule number must refer to a specific rule within the rule collection.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>