src/main/resources/wsdl/stage/ecf5-full-849389af5da1be59.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filing" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:filing="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filing" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filing" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filing</xs:documentation>
</xs:annotation><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf5-full-ea1e0f75b69752b5.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecf5-full-7af13829a6695741.xsd"/><xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="ecf5-full-43381e9aa490c46d.xsd"/><xs:complexType name="FilingMessageType">
<xs:annotation>
<xs:documentation>The structure of a Filing including any Payment Information will be documented in this section. This describes the filing transaction between the Filing Assembly MDE and the Filing Review MDE. This information will become part of the Record Docketing between the Filing Review MDE and the Court Record MDE but does not necessarily describe the information that is actually stored in the Court Record.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:CaseFilingType">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="ecf:ElectronicServiceInformation"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="filing:FilingConnectedDocument"/>
<xs:element maxOccurs="unbounded" minOccurs="1" ref="filing:FilingLeadDocument"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="filing:FilingMessageAugmentationPoint"/>
<xs:element maxOccurs="1" minOccurs="1" ref="nc:Case"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:element name="FilingConnectedDocument" nillable="true" type="nc:DocumentType">

<xs:annotation>
<xs:documentation>A document included in a Filing that supports the Document.  This document is not separately entered on the docket or register of actions.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="FilingLeadDocument" nillable="true" type="nc:DocumentType">

<xs:annotation>
<xs:documentation>The pleading, motion or order that is the main document in a Filing. A Document may have Attachments.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="FilingMessage" type="filing:FilingMessageType">

<xs:annotation>
<xs:documentation>The structure of a Filing including any Payment Information will be documented in this section. This describes the filing transaction between the Filing Assembly MDE and the Filing Review MDE. This information will become part of the Record Docketing between the Filing Review MDE and the Court Record MDE but does not necessarily describe the information that is actually stored in the Court Record.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element abstract="true" name="FilingMessageAugmentationPoint">

<xs:annotation>
<xs:documentation>An extension point for the enclosing message.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>