src/main/resources/wsdl/stage/ecf5-full-65b28033abe909b2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><!--
     WS-Calendar Version 1.0
     Committee Specification 01
     30 July 2011
     Source: http://docs.oasis-open.org/ws-calendar/ws-calendar-spec/v1.0/cs01/xsd/
     Copyright (c) The Calendaring and Scheduling Consortium 2010-2011. All Rights Reserved.
     Copyright (c) OASIS Open 2010-2011. All Rights Reserved. --><!-- iCalendar availability extension schema is
     intended to work in conjunction with conformant
     implementations of IETF RFC 5545
     ( http://www.rfc-editor.org/rfc/rfc5545.txt ),
     the normative specification of iCalendar. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xcal="urn:ietf:params:xml:ns:icalendar-2.0" elementFormDefault="qualified" targetNamespace="urn:ietf:params:xml:ns:icalendar-2.0">
	<!-- This schema extension defines properties and components for the availability
     components defined in draft-daboo-calendar-availability -->
	<!-- ===================== Value-types ================================  -->
	<xs:include schemaLocation="ecf5-full-78f90906f32c9f0a.xsd"/>
	<!-- ===================== Components =================================  -->
	<xs:include schemaLocation="ecf5-full-5895364ae0d78979.xsd"/>
	<!-- ===================== Properties =================================  -->
	<xs:include schemaLocation="ecf5-full-9acb70c0b1f40a4f.xsd"/>
	<!-- =====================================================================
       Calendar Properties
       ===================================================================== -->
	<!-- The BUSYTYPE property is used to specify the default busy time
      type.  The values correspond to those used by the "FBTYPE"
      parameter used on a "FREEBUSY" property, with the exception that
      the "FREE" value is not used.  If not specified on a component
      that allows this property, the default is "BUSY-UNAVAILABLE".
      
      busytypevalue = "BUSY" / "BUSY-UNAVAILABLE" /
                        "BUSY-TENTATIVE" / iana-token / x-name
                        ; Default is "BUSY-UNAVAILABLE"
      
   -->
	<xs:complexType mixed="false" name="BusytypePropType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
       encodingparam      = "ENCODING" "="
                          ( "8BIT"
          ; "8bit" text encoding is defined in [RFC2045]
                          / "BASE64"
          ; "BASE64" binary encoding format is defined in [RFC4648]
                          )
      busytypevalue = "BUSY" 
                    / "BUSY-UNAVAILABLE" 
                    / "BUSY-TENTATIVE" 
                    / iana-token 
                    / x-name
                    
                    ; Default is "BUSY-UNAVAILABLE".
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xcal:TextPropertyType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- =====================================================================
       Calendar Components
       ===================================================================== -->
	<xs:complexType mixed="false" name="VavailabilityType">
		<xs:complexContent>
			<xs:extension base="xcal:VcalendarContainedComponentType">
				<xs:sequence>
					<xs:element name="components" type="xcal:ArrayOfVavailabilityContainedComponents"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="vavailability" substitutionGroup="xcal:vcalendarContainedComponent" type="xcal:VavailabilityType"/>
	<xs:complexType name="ArrayOfVavailabilityContainedComponents">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="xcal:available"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType mixed="false" name="AvailableType">
		<xs:complexContent>
			<xs:extension base="xcal:BaseComponentType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="available" substitutionGroup="xcal:baseComponent" type="xcal:AvailableType"/>
</xs:schema>