src/main/resources/wsdl/stage/ecf5-full-80b5e3c97a69e0d8.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/schedulerequest" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.1/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:schedulerequest="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/schedulerequest" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/schedulerequest" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/schedulerequest</xs:documentation>
</xs:annotation><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf5-full-ea1e0f75b69752b5.xsd"/><xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.1/" schemaLocation="ecf5-full-3fca6aa6e33300e4.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecf5-full-7af13829a6695741.xsd"/><xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="ecf5-full-43381e9aa490c46d.xsd"/><xs:complexType name="GetCourtScheduleRequestMessageType">
<xs:annotation>
<xs:documentation>A request for the schedule of upcoming events in a court</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:RequestMessageType">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="schedulerequest:GetCourtScheduleRequestMessageAugmentationPoint"/>
<xs:element maxOccurs="1" minOccurs="1" ref="schedulerequest:ScheduleQueryCriteria"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="ScheduleQueryCriteriaType">
<!--Genericode code list CaseTypeCode.gc; Genericode code list CourtEventTypeCode.gc--><xs:annotation>
<xs:documentation>Criteria limiting the schedule information to be returned.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:CaseTypeCode"/>
<xs:element maxOccurs="1" minOccurs="1" ref="ecf:CourtEventTypeCode"/>
<xs:element maxOccurs="1" minOccurs="0" ref="j:CourtAdministrativeUnitText"/>
<xs:element maxOccurs="1" minOccurs="0" ref="j:Judge"/>
<xs:element maxOccurs="1" minOccurs="0" ref="nc:DateRange"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:element name="GetCourtScheduleRequestMessage" type="schedulerequest:GetCourtScheduleRequestMessageType">

<xs:annotation>
<xs:documentation>A request for the schedule of upcoming events in a court</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element abstract="true" name="GetCourtScheduleRequestMessageAugmentationPoint">

<xs:annotation>
<xs:documentation>An extension point for the enclosing message.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ScheduleQueryCriteria" type="schedulerequest:ScheduleQueryCriteriaType">

<xs:annotation>
<xs:documentation>Criteria limiting the schedule information to be returned.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>