src/main/resources/wsdl/stage/ecf5-full-648c40f37d51888f.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/caselistrequest" xmlns:caselistrequest="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/caselistrequest" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/caselistrequest" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/caselistrequest</xs:documentation>
</xs:annotation><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf5-full-ea1e0f75b69752b5.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecf5-full-7af13829a6695741.xsd"/><xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="ecf5-full-43381e9aa490c46d.xsd"/><xs:complexType name="CaseListQueryCriteriaType">
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" ref="caselistrequest:CaseParticipant"/>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:CaseCategoryCode"/>
<xs:element maxOccurs="1" minOccurs="0" ref="nc:ActivityStatus"/>
<xs:element maxOccurs="1" minOccurs="0" ref="nc:DateRange"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="GetCaseListRequestMessageType">
<xs:annotation>
<xs:documentation>This is a query for a list of cases that match a set of criteria including case participants, case classification, case status, and date of the case was initiated.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:RequestMessageType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" ref="caselistrequest:CaseListQueryCriteria"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="caselistrequest:GetCaseListRequestMessageAugmentationPoint"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:element name="CaseListQueryCriteria" type="caselistrequest:CaseListQueryCriteriaType">

<xs:annotation>
<xs:documentation>Criteria limiting the list of cases to be returned.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CaseParticipant" type="nc:EntityType">

<xs:annotation>
<xs:documentation>Information describing a participant when a query seeks information about the cases in which the person or organization is a participant.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="GetCaseListRequestMessage" type="caselistrequest:GetCaseListRequestMessageType">

<xs:annotation>
<xs:documentation>This is a query for a list of cases that match a set of criteria including case participants, case classification, case status, and date of the case was initiated.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element abstract="true" name="GetCaseListRequestMessageAugmentationPoint">

<xs:annotation>
<xs:documentation>An extension point for the enclosing message.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>