src/main/resources/wsdl/stage/ecf5-full-f1740199aabf931c.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/serviceinformationresponse" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:serviceinformationresponse="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/serviceinformationresponse" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/serviceinformationresponse" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/serviceinformationresponse</xs:documentation>
</xs:annotation><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf5-full-ea1e0f75b69752b5.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecf5-full-7af13829a6695741.xsd"/><xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="ecf5-full-43381e9aa490c46d.xsd"/><xs:complexType name="GetServiceInformationResponseMessageType">
<xs:annotation>
<xs:documentation>The response to a serviceInformationQueryMessage, setting forth the requested information.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:ResponseMessageType">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="serviceinformationresponse:GetServiceInformationResponseMessageAugmentationPoint"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="serviceinformationresponse:ServiceRecipient"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:element name="GetServiceInformationResponseMessage" type="serviceinformationresponse:GetServiceInformationResponseMessageType">

<xs:annotation>
<xs:documentation>The response to a serviceInformationQueryMessage, setting forth the requested information.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element abstract="true" name="GetServiceInformationResponseMessageAugmentationPoint">

<xs:annotation>
<xs:documentation>An extension point for the enclosing message.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ServiceRecipient" type="nc:EntityType">

<xs:annotation>
<xs:documentation>The entity to be served in this case.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>