.jjconflict-side-2/TylerEcf4/src/main/resources/wsdl/v2022_1/stage/illinois-CourtSchedulingMDE.wsdl

<definitions xmlns:tns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/WSDL/CourtSchedulingMDE" 
      xmlns:wrapper="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/MessageWrappers" 
      xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
      xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
      xmlns="http://schemas.xmlsoap.org/wsdl/" 
      xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
      xmlns:wsrmp="http://docs.oasis-open.org/ws-rx/wsrmp/200702" 
      xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
      targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/WSDL/CourtSchedulingMDE">
   <!-- NOTE(brycew): removed 361 from the wsu URL, as suggested by https://issues.apache.org/jira/browse/CXF-7402 -->
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/MessageWrappers" schemaLocation="../base/ecf-v5-1.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<message name="GetCourtScheduleRequest">
		<part name="body" element="wrapper:GetCourtScheduleRequest"/>
	</message>
	<message name="GetCourtScheduleResponse">
		<part name="body" element="wrapper:GetCourtScheduleResponse"/>
	</message>
	<message name="NotifyCourtDateRequest">
		<part name="body" element="wrapper:NotifyCourtDateRequest"/>
	</message>
	<message name="NotifyCourtDateResponse">
		<part name="body" element="wrapper:NotifyCourtDateResponse"/>
	</message>
	<message name="ReserveCourtDateRequest">
		<part name="body" element="wrapper:ReserveCourtDateRequest"/>
	</message>
	<message name="ReserveCourtDateResponse">
		<part name="body" element="wrapper:ReserveCourtDateResponse"/>
	</message>
	<message name="ReserveCourtDateSyncResponse">
		<part name="body" element="wrapper:ReserveCourtDateSyncResponse"/>
	</message>
  <message name="GetReturnDateRequest">
    <part name="body" element="wrapper:ReturnDateRequest"/>
  </message>
  <message name="GetReturnDateResponse">
    <part name="body" element="wrapper:ReturnDateResponse"/>
  </message>
	<portType name="CourtSchedulingMDE">
		<operation name="GetCourtSchedule">
			<input message="tns:GetCourtScheduleRequest"/>
			<output message="tns:GetCourtScheduleResponse"/>
		</operation>
		<operation name="NotifyCourtDate">
			<input message="tns:NotifyCourtDateRequest"/>
			<output message="tns:NotifyCourtDateResponse"/>
		</operation>
                <!-- NOTE(brycew): This op isn't in the Tyler description, and cxf says 
			org.apache.cxf.tools.common.ToolException: Non-unique body parts! In a port, 
			operations must have unique operation signatures on the wire for successful 
			dispatching. In port 
			{https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/WSDL/CourtSchedulingMDE}CourtSchedulingMDEPort, 
			operations "{https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/WSDL/CourtSchedulingMDE}ReserveCourtDate" 
			and "{https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/WSDL/CourtSchedulingMDE}ReserveCourtDateSync" 
			have the same request body block {https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/MessageWrappers}ReserveCourtDateRequest
		-->
		<!--operation name="ReserveCourtDate">
			<input message="tns:ReserveCourtDateRequest"/>
			<output message="tns:ReserveCourtDateResponse"/>
		</operation-->
		<operation name="ReserveCourtDateSync">
			<input message="tns:ReserveCourtDateRequest"/>
			<output message="tns:ReserveCourtDateSyncResponse"/>
		</operation>
    <operation name="GetReturnDate">
      <input message="tns:GetReturnDateRequest"/>
      <output message="tns:GetReturnDateResponse"/>
    </operation>
	</portType>
	<binding name="CourtSchedulingMDESoap" type="tns:CourtSchedulingMDE">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsp:PolicyReference URI="#EFMPolicy"/>
		<operation name="GetCourtSchedule">
			<soap:operation soapAction="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/WSDL/CourtSchedulingMDE/GetCourtSchedule"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="NotifyCourtDate">
			<soap:operation soapAction="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/WSDL/CourtSchedulingMDE/NotifyCourtDate"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<!--operation name="ReserveCourtDate">
			<soap:operation soapAction="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/WSDL/CourtSchedulingMDE/ReserveCourtDate"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation-->
		<operation name="ReserveCourtDateSync">
			<soap:operation soapAction="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/WSDL/CourtSchedulingMDE/ReserveCourtDateSync"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
    <operation name="GetReturnDate">
      <soap:operation soapAction="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/WSDL/CourtSchedulingMDE/GetReturnDate"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
	</binding>
	<service name="CourtSchedulingMDE">
		<port name="CourtSchedulingMDEPort" binding="tns:CourtSchedulingMDESoap">
		    <!-- NOTE(brycew): manually added location here, the given URL was bad. -->
			<soap:address location="https://Illinois-stage.tylertech.cloud/efm/CourtSchedulingMDE.svc"/>
		</port>
	</service>
	<wsp:UsingPolicy wsdl:required="true"/>
	<wsp:Policy wsu:Id="EFMPolicy">
		<wsp:ExactlyOne>
			<wsp:All>
				<wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
				<sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken RequireClientCertificate="false"/>
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256/>
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Lax/>
							</wsp:Policy>
						</sp:Layout>
						<sp:IncludeTimestamp/>
					</wsp:Policy>
				</sp:TransportBinding>
				<sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
							<wsp:Policy>
								<sp:WssX509V3Token10/>
							</wsp:Policy>
						</sp:X509Token>
					</wsp:Policy>
				</sp:EndorsingSupportingTokens>
				<sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:MustSupportRefKeyIdentifier/>
						<sp:MustSupportRefIssuerSerial/>
					</wsp:Policy>
				</sp:Wss10>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
</definitions>
