.jjconflict-side-0/TylerEcf5/src/main/resources/wsdl/v2024_6/base/ecfv5-43e22a9b317738fe.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/civil" xmlns:civil="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/civil" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:hs="http://release.niem.gov/niem/domains/humanServices/4.1/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/civil" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/civil</xs:documentation>
</xs:annotation><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecfv5-ea1e0f75b69752b5.xsd"/><xs:import namespace="http://release.niem.gov/niem/domains/humanServices/4.1/" schemaLocation="ecfv5-77c550f4768f1921.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecfv5-7af13829a6695741.xsd"/><xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="ecfv5-4d179e3e0bd140a9.xsd"/><xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="ecfv5-43381e9aa490c46d.xsd"/><xs:complexType name="CaseAugmentationType">
<!--Genericode code list CauseOfActionCode.gc; Genericode code list JurisdictionGroundsCode.gc; Genericode code list ReliefTypeCode.gc--><xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" ref="civil:AmountInControversy"/>
<xs:element maxOccurs="1" minOccurs="0" ref="civil:CivilClassActionIndicator"/>
<xs:element maxOccurs="1" minOccurs="0" ref="civil:DecedentEstateCase"/>
<xs:element maxOccurs="1" minOccurs="0" ref="civil:FiduciaryCaseAssociation"/>
<xs:element maxOccurs="1" minOccurs="0" ref="civil:JurisdictionalGroundsCode"/>
<xs:element maxOccurs="1" minOccurs="0" ref="civil:JuryDemandIndicator"/>
<xs:element maxOccurs="unbounded" minOccurs="1" ref="civil:ReliefTypeCode"/>
<xs:element maxOccurs="1" minOccurs="1" ref="ecf:CauseOfActionCode"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="DecedentEstateCaseType">
<xs:annotation>
<xs:documentation>Information about a case administering and distributing the assets of a testate or intestate decedent.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" ref="civil:Decedent"/>
<xs:element maxOccurs="1" minOccurs="0" ref="civil:WillFilingDate"/>
<xs:element maxOccurs="1" minOccurs="1" ref="nc:PersonDeathDate"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="FiduciaryCaseAssociationType">
<!--Genericode code list FiduciaryTypeCode.gc--><xs:annotation>
<xs:documentation>Information about a guardianship, conservatorship, trust, or mental health case.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="hs:PersonCaseAssociationType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" ref="civil:FiduciaryTypeCode"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:element name="AmountInControversy" type="nc:AmountType">

<xs:annotation>
<xs:documentation>The amount set forth in an ad damnum clause in a complaint, counter claim, or cross complaint.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CaseAugmentation" nillable="true" substitutionGroup="nc:CaseAugmentationPoint" type="civil:CaseAugmentationType">

<xs:annotation>
<xs:documentation>Information required to initiate a new civil case in a court.  "Civil" includes conservatorships, guardianships, mental health and probate.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CivilClassActionIndicator" type="niem-xs:boolean">

<xs:annotation>
<xs:documentation>Whether the filer is requesting that this case proceed as a class action.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Decedent" nillable="true" type="nc:PersonType">

<xs:annotation>
<xs:documentation>The deceased person who estate is the subject of a court case.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DecedentEstateCase" type="civil:DecedentEstateCaseType">

<xs:annotation>
<xs:documentation>Information about a case administering and distributing the assets of a testate or intestate decedent.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="FiduciaryCaseAssociation" type="civil:FiduciaryCaseAssociationType">

<xs:annotation>
<xs:documentation>InfInformation about a guardianship, conservatorship, trust, or mental health case.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="FiduciaryTypeCode" type="nc:TextType">
<!--Genericode code list FiduciaryTypeCode.gc-->
<xs:annotation>
<xs:documentation>Legal description of the role of a fiduciary. Examples: guardian, trustee, conservator of the person, conservator of the estate.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/FiduciaryTypeCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="JurisdictionalGroundsCode" type="nc:TextType">
<!--Genericode code list JurisdictionGroundsCode.gc-->
<xs:annotation>
<xs:documentation>The grounds for invoking the jurisdiction of a limited jurisdiction court.  Allowed values set forth in Court policy. Not used in general jurisdiction courts.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/JurisdictionalGroundsCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="JuryDemandIndicator" type="niem-xs:boolean">

<xs:annotation>
<xs:documentation>Whether filer invokes the right to trial by jury.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ReliefTypeCode" type="nc:TextType">
<!--Genericode code list ReliefTypeCode.gc-->
<xs:annotation>
<xs:documentation>Indicator of the type of relief requested in the case, e.g., damages, equitable relief (injunction).  Allowable values defined in Court Policy.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ReliefTypeCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="WillFilingDate" type="nc:DateType">

<xs:annotation>
<xs:documentation>Date on which the will of the decesaed person was filed in the court.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>