src/main/resources/wsdl/v5/ecf-v5-65.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><!-- NIEM extension schema generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/serviceinformationresponse" xmlns:cbrn="http://release.niem.gov/niem/domains/cbrn/4.0/" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.0/" xmlns:local="local" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:serviceinformationresponse="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/serviceinformationresponse" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/serviceinformationresponse" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/serviceinformationresponse</xs:documentation>
</xs:annotation><xs:import namespace="http://release.niem.gov/niem/domains/cbrn/4.0/" schemaLocation="ecf-v5-14.xsd"/><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf-v5-3.xsd"/><xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.0/" schemaLocation="ecf-v5-17.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecf-v5-22.xsd"/><xs:complexType name="GetServiceInformationResponseMessageType">
<xs:annotation>
<xs:documentation>The response to a serviceInformationQueryMessage, setting forth the requested information.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:ResponseMessageType">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="serviceinformationresponse:ServiceRecipient"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="serviceinformationresponse:GetServiceInformationResponseMessageAugmentationPoint"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="GetServiceInformationResponseMessage" nillable="false" type="serviceinformationresponse:GetServiceInformationResponseMessageType">
<xs:annotation>
<xs:documentation>The response to a serviceInformationQueryMessage, setting forth the requested information.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element abstract="true" name="GetServiceInformationResponseMessageAugmentationPoint">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ServiceRecipient" nillable="false" type="nc:EntityType">
<xs:annotation>
<xs:documentation>The entity to be served in this case.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>