src/main/resources/wsdl/v5/ecf-v5-4.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="http://release.niem.gov/niem/appinfo/4.0/" xmlns:biom="http://release.niem.gov/niem/domains/biometrics/4.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/4.0/#ReferenceSchemaDocument" targetNamespace="http://release.niem.gov/niem/domains/biometrics/4.0/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/4.0/ ../../../utility/appinfo/4.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../../utility/conformanceTargets/3.0/conformanceTargets.xsd">
  <xs:annotation>
    <xs:documentation>Biometric Schema Version 1.0</xs:documentation>
  </xs:annotation>
  <xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecf-v5-5.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="ecf-v5-7.xsd"/>
  <xs:simpleType name="BiometricCategoryCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type describing the kinds of biometrics used</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="10-Print">
        <xs:annotation>
          <xs:documentation>10-print</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2-Print">
        <xs:annotation>
          <xs:documentation>2-print</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4-Print">
        <xs:annotation>
          <xs:documentation>4-print</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="All">
        <xs:annotation>
          <xs:documentation>All Available Modality Type</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Body Odor">
        <xs:annotation>
          <xs:documentation>Body Odor</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Dental">
        <xs:annotation>
          <xs:documentation>Dental</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DNA">
        <xs:annotation>
          <xs:documentation>DNA</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Ear Shape">
        <xs:annotation>
          <xs:documentation>Ear shape</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Facial Image">
        <xs:annotation>
          <xs:documentation>Facial Image</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Finger Geometry">
        <xs:annotation>
          <xs:documentation>Finger geometry</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Finger Prints">
        <xs:annotation>
          <xs:documentation>Finger Prints</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Foot Print">
        <xs:annotation>
          <xs:documentation>Foot Print</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Gait">
        <xs:annotation>
          <xs:documentation>Gait</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Hand Geometry">
        <xs:annotation>
          <xs:documentation>Hand Geometry</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Iris">
        <xs:annotation>
          <xs:documentation>Iris</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Keystroke Dynamics">
        <xs:annotation>
          <xs:documentation>Keystroke dynamics</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Lip Movement">
        <xs:annotation>
          <xs:documentation>Lip movement</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Mugshot">
        <xs:annotation>
          <xs:documentation>Include mug shots vs. searchable facial images</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Multiple Biometrics Used">
        <xs:annotation>
          <xs:documentation>Multiple biometrics used</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="No Information Given">
        <xs:annotation>
          <xs:documentation>No information given</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Non-Photographic Imagery">
        <xs:annotation>
          <xs:documentation>Non-photographic images can include (but are not limited to) such diverse items as 3D point cloud representations of the face, radiographs, sonograms, PET scans and 3D orthodontic models</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Other">
        <xs:annotation>
          <xs:documentation>not in the list and explained in augmentation point</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Palm Print">
        <xs:annotation>
          <xs:documentation>Palm Print</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Retina">
        <xs:annotation>
          <xs:documentation>Retina</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Signature">
        <xs:annotation>
          <xs:documentation>Signature</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SMT">
        <xs:annotation>
          <xs:documentation>Scar Mark Tattoo</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TemplateSetID">
        <xs:annotation>
          <xs:documentation>Include the matcher template set id</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Thermal Face Image">
        <xs:annotation>
          <xs:documentation>Thermal face image</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Thermal Hand Image">
        <xs:annotation>
          <xs:documentation>Thermal hand image</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Vein Pattern">
        <xs:annotation>
          <xs:documentation>Vein Pattern</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Video">
        <xs:annotation>
          <xs:documentation>Video</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Voice">
        <xs:annotation>
          <xs:documentation>Voice</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BiometricCategoryCodeType">
    <xs:annotation>
      <xs:documentation>A data type for a kind of biometric technology</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="biom:BiometricCategoryCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BiometricClassificationType">
    <xs:annotation>
      <xs:documentation>A data type for the classification of the kind of the Biometric information in the message.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" ref="biom:BiometricClassificationCategoryCode"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiometricDataType">
    <xs:annotation>
      <xs:documentation>A data type for a representation of the identifying Biometric in.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" ref="biom:BiometricClassification"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="biom:BiometricDetailAbstract"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="biom:BiometricImageAbstract"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="biom:BiometricCapturer"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DNASTRProfileType">
    <xs:annotation>
      <xs:documentation>A data type for an autosomal STR, X-STR, and Y-STR DNA profile</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="biom:DNALocusIdentification"/>
          <xs:element maxOccurs="2" minOccurs="1" ref="biom:DNAAlleleCall1Text"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DNASampleType">
    <xs:annotation>
      <xs:documentation>A data type for a DNA sample</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element maxOccurs="14" minOccurs="0" ref="biom:DNASTRProfile"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FingerprintImageType">
    <xs:annotation>
      <xs:documentation>A data type for a fingerprint image</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="biom:ImageType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ImageType">
    <xs:annotation>
      <xs:documentation>A data type for a biometric image</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ImageType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PhysicalFeatureImageType">
    <xs:annotation>
      <xs:documentation>A data type for an image of a physical feature</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="biom:ImageType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Biometric" type="biom:BiometricDataType">
    <xs:annotation>
      <xs:documentation>A Root Element for Biometric data</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BiometricCapturer" type="nc:EntityType">
    <xs:annotation>
      <xs:documentation>An entity that collected a biometric sample.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BiometricClassification" type="biom:BiometricClassificationType">
    <xs:annotation>
      <xs:documentation>A classification of the kind of person Biometric.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BiometricClassificationCategoryCode" type="biom:BiometricCategoryCodeType">
    <xs:annotation>
      <xs:documentation>A kind of biometric.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element abstract="true" name="BiometricDetailAbstract">
    <xs:annotation>
      <xs:documentation>A data concept for capturing details.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element abstract="true" name="BiometricImageAbstract">
    <xs:annotation>
      <xs:documentation>A data concept for a biometric image</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DNAAlleleCall1Text" type="nc:TextType">
    <xs:annotation>
      <xs:documentation>A kind of a DNA allele call (first of three possible) for the referenced locus in an STR profile</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DNAElectropherogramScreenshotImage" substitutionGroup="biom:BiometricImageAbstract" type="biom:ImageType">
    <xs:annotation>
      <xs:documentation>An image of screenshot of a DNA electropherogram</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DNALocusIdentification" type="nc:IdentificationType">
    <xs:annotation>
      <xs:documentation>An identification of a DNA locus</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DNASTRProfile" type="biom:DNASTRProfileType">
    <xs:annotation>
      <xs:documentation>An autosomal STR, X-STR, and Y-STR DNA profile</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DNASample" substitutionGroup="biom:BiometricDetailAbstract" type="biom:DNASampleType">
    <xs:annotation>
      <xs:documentation>A representation or an encoding of the DNA data of a biological sample.  This may be the biological sample from a person (e.g. sample from an insurgent), or a mixed biological sample that may contain biological material from the person of interest (e.g. a mixed blood stain taken from clothes)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FingerprintImage" substitutionGroup="biom:BiometricImageAbstract" type="biom:FingerprintImageType">
    <xs:annotation>
      <xs:documentation>An image of a fingerprint</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PhysicalFeatureImage" substitutionGroup="biom:BiometricImageAbstract" type="biom:PhysicalFeatureImageType">
    <xs:annotation>
      <xs:documentation>An image of a physical feature</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>