src/main/resources/wsdl/v5/ecf-v5-63.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><!-- NIEM extension schema generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/scheduleresponse" xmlns:cbrn="http://release.niem.gov/niem/domains/cbrn/4.0/" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.0/" xmlns:local="local" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:scheduleresponse="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/scheduleresponse" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:xcal="urn:ietf:params:xml:ns:icalendar-2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/scheduleresponse" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/scheduleresponse</xs:documentation>
</xs:annotation><xs:import namespace="http://release.niem.gov/niem/domains/cbrn/4.0/" schemaLocation="ecf-v5-14.xsd"/><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf-v5-3.xsd"/><xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.0/" schemaLocation="ecf-v5-17.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecf-v5-22.xsd"/><xs:import namespace="urn:ietf:params:xml:ns:icalendar-2.0" schemaLocation="ecf-v5-25.xsd"/><xs:complexType name="GetCourtScheduleResponseMessageType">
<xs:annotation>
<xs:documentation>The schedule of upcoming events in a court</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:ResponseMessageType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" ref="xcal:icalendar"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="scheduleresponse:GetCourtScheduleResponseMessageAugmentationPoint"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="GetCourtScheduleResponseMessage" nillable="false" type="scheduleresponse:GetCourtScheduleResponseMessageType">
<xs:annotation>
<xs:documentation>The schedule of upcoming events in a court</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element abstract="true" name="GetCourtScheduleResponseMessageAugmentationPoint">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>