src/main/resources/wsdl/v5/ecf-v5-58.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><!-- NIEM extension schema generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/policyresponse" xmlns:cbrn="http://release.niem.gov/niem/domains/cbrn/4.0/" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.0/" xmlns:local="local" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:policyresponse="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/policyresponse" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/policyresponse" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/policyresponse</xs:documentation>
</xs:annotation><xs:import namespace="http://release.niem.gov/niem/domains/cbrn/4.0/" schemaLocation="ecf-v5-14.xsd"/><xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="ecf-v5-59.xsd"/><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf-v5-3.xsd"/><xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.0/" schemaLocation="ecf-v5-17.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecf-v5-22.xsd"/><xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="ecf-v5-23.xsd"/><xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="ecf-v5-24.xsd"/><xs:complexType name="CodeListExtensionType">
<xs:annotation>
<xs:documentation>A value allowed for the parent identified element, and associated information</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="policyresponse:ExtensionType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" ref="policyresponse:ECFElementNameText"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<!--Reference nc:Metadata with policyresponse:DevelopmentPolicy/@structures:metadata--><xs:complexType name="DevelopmentPolicyType">
<xs:annotation>
<xs:documentation>Within Court Policy, the policies that are accessed by a person or organization developing an applications or configuring an application to interact with a court for the purpose of structuring the interactions with that court.  This information is needed once and is not accessed dynamically while interacting with the court.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" ref="policyresponse:AcceptConfidentialFilingsIndicator"/>
<xs:element maxOccurs="1" minOccurs="1" ref="policyresponse:AcceptDocumentsRequiringFeesIndicator"/>
<xs:element maxOccurs="1" minOccurs="1" ref="policyresponse:AcceptMultipleLeadDocumentsIndicator"/>
<xs:element maxOccurs="1" minOccurs="0" ref="policyresponse:FilerRequiredToServeIndicator"/>
<xs:element maxOccurs="1" minOccurs="1" ref="policyresponse:FilingFeesMayBeApplicableIndicator"/>
<xs:element maxOccurs="unbounded" minOccurs="1" ref="policyresponse:MajorDesignElement"/>
<xs:element maxOccurs="1" minOccurs="0" ref="policyresponse:MaximumAllowedAttachmentPageQuantity"/>
<xs:element maxOccurs="1" minOccurs="0" ref="policyresponse:MaximumAllowedAttachmentSize"/>
<xs:element maxOccurs="1" minOccurs="0" ref="policyresponse:MaximumAllowedMessageSize"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="policyresponse:SchemaExtension"/>
<xs:element maxOccurs="unbounded" minOccurs="1" ref="policyresponse:SupportedCaseCategories"/>
<xs:element maxOccurs="unbounded" minOccurs="1" ref="policyresponse:SupportedSignaturesProfiles"/>
<xs:element maxOccurs="1" minOccurs="1" ref="policyresponse:URLAttachmentSupportedIndicator"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ExtensionType">
<xs:annotation>
<xs:documentation>A structure representing a court-specific data structure passed to a particular operation on a particular MDE.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" ref="policyresponse:ExtensionCanonicalURI"/>
<xs:element maxOccurs="1" minOccurs="1" ref="policyresponse:ExtensionCanonicalVersionURI"/>
<xs:element maxOccurs="1" minOccurs="1" ref="policyresponse:ExtensionLocationURI"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<!--Reference nc:Metadata with policyresponse:SchemaExtension/@structures:metadata; Reference nc:Metadata with policyresponse:GetPolicyResponseMessage/@structures:metadata--><xs:complexType name="GetPolicyResponseMessageType">
<xs:annotation>
<xs:documentation>The response to a request for a court Court Policy.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:ResponseMessageType">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="1" ref="nc:Metadata"/>
<xs:element maxOccurs="1" minOccurs="1" ref="policyresponse:DevelopmentPolicy"/>
<xs:element maxOccurs="1" minOccurs="1" ref="policyresponse:PolicyVersionID"/>
<xs:element maxOccurs="1" minOccurs="1" ref="policyresponse:RuntimePolicy"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="policyresponse:GetPolicyResponseMessageAugmentationPoint"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="MajorDesignElementType">
<xs:annotation>
<xs:documentation>An ECF Major Design Element (MDE)</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" ref="policyresponse:MajorDesignElementLocationID"/>
<xs:element maxOccurs="1" minOccurs="1" ref="policyresponse:MajorDesignElementTypeCode"/>
<xs:element maxOccurs="1" minOccurs="1" ref="policyresponse:SupportedOperations"/>
<xs:element maxOccurs="1" minOccurs="1" ref="policyresponse:SupportedServiceInteractionProfiles"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<!--Reference nc:Metadata with policyresponse:RuntimePolicy/@structures:metadata--><xs:complexType name="RuntimePolicyType">
<xs:annotation>
<xs:documentation>Within Court Policy, the policies that are accessed dynamically by applications interacting with a court.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" ref="ds:KeyInfo"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="policyresponse:CodeListExtension"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<!--Reference nc:Metadata in policyresponse:SchemaExtension/@structures:metadata; Genericode code list MajorDesignElementTypeCode.gc--><xs:complexType name="SchemaExtensionType">
<xs:annotation>
<xs:documentation>A structure representing the court-specific extensions for the court associated with this Court Policy.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="policyresponse:ExtensionType">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="1" ref="policyresponse:ExtensionElementName"/>
<xs:element maxOccurs="unbounded" minOccurs="1" ref="policyresponse:MajorDesignElementTypeCode"/>
<xs:element maxOccurs="unbounded" minOccurs="1" ref="policyresponse:OperationNameCode"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<!--Genericode code list CaseTypeCode.gc--><xs:complexType name="SupportedCaseCategoriesType">
<xs:annotation>
<xs:documentation>A structure containing indicators that signal support by the e-filing system for each ECF case type.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="1" ref="ecf:CaseTypeCode"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="SupportedOperationsType">
<xs:annotation>
<xs:documentation>A structure containing indicators that signal support by the e-filing system for optional ECF operations. E.g. particular queries.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="1" ref="policyresponse:OperationNameCode"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<!--Genericode code list ServiceInteractionProfileCode.gc--><xs:complexType name="SupportedServiceInteractionProfilesType">
<xs:annotation>
<xs:documentation>A message profile approved for use with ECF by the OASIS LegalXML Member Section Electronic Court Filing Technical Committee that are supported in a particualr court.  Identifiers for supported profiles are set forth in Court Policy.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="1" ref="ecf:ServiceInteractionProfileCode"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<!--Genericode code list SignatureProfileCode.gc--><xs:complexType name="SupportedSignatureProfilesType">
<xs:annotation>
<xs:documentation>A signature profile approved for use with ECF 3.0 by the OASIS LegalXML Member Section Electronic Court Filing Technical Committee that are supported in a particualr court.  Identifiers for supported profiles are set forth in Court Policy.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="1" ref="ecf:SignatureProfileCode"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="AcceptConfidentialFilingsIndicator" nillable="false" type="niem-xs:boolean">
<xs:annotation>
<xs:documentation>Whether the court will accept electronic filing of documents for which the filer requests confidential or sealed treatment by the court.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="AcceptDocumentsRequiringFeesIndicator" nillable="false" type="niem-xs:boolean">
<xs:annotation>
<xs:documentation>Whether the court will accept electronic filing of documents requiring filing fees.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="AcceptMultipleLeadDocumentsIndicator" nillable="false" type="niem-xs:boolean">
<xs:annotation>
<xs:documentation>Does court accept placing multiple lead documents in a single message</xs:documentation>
</xs:annotation>
</xs:element>
<!--Reference nc:Metadata in policyresponse:CodeListExtension/@structures:metadata--><xs:element name="CodeListExtension" nillable="false" type="policyresponse:CodeListExtensionType">
<xs:annotation>
<xs:documentation>A value allowed for the parent identified element, and associated information.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DevelopmentPolicy" nillable="false" type="policyresponse:DevelopmentPolicyType">
<xs:annotation>
<xs:documentation>The response to a request for a court Court Policy.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ECFElementNameText" nillable="false" type="nc:TextType">
<xs:annotation>
<xs:documentation>The data element for which an allowable set of values is enumerated.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ExtensionCanonicalURI" nillable="false" type="niem-xs:anyURI">
<xs:annotation>
<xs:documentation>A court extension to ECF.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ExtensionCanonicalVersionURI" nillable="false" type="niem-xs:anyURI">
<xs:annotation>
<xs:documentation>A structure representing the specific court extension.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ExtensionElementName" nillable="false" type="niem-xs:anyURI">
<xs:annotation>
<xs:documentation>The element(s) in the extension schema that are are the root of the extension and substitute for an extension (augmentation) point.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ExtensionLocationURI" nillable="false" type="niem-xs:anyURI">
<xs:annotation>
<xs:documentation>An XML Schema document that defines the allowable structure of the court-specific argument to this MDE operation.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="FilerRequiredToServeIndicator" nillable="false" type="niem-xs:boolean">
<xs:annotation>
<xs:documentation>Indicator whether the filer is required to serve</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="FilingFeesMayBeApplicableIndicator" nillable="false" type="niem-xs:boolean">
<xs:annotation>
<xs:documentation>Indicates whether fees may be required for some filings.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="GetPolicyResponseMessage" nillable="false" type="policyresponse:GetPolicyResponseMessageType">
<xs:annotation>
<xs:documentation>The response to a request for a court Court Policy.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element abstract="true" name="GetPolicyResponseMessageAugmentationPoint">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="MajorDesignElement" nillable="false" type="policyresponse:MajorDesignElementType">
<xs:annotation>
<xs:documentation>An ECF major design element (MDE)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="MajorDesignElementLocationID" nillable="false" type="nc:IdentificationType">
<xs:annotation>
<xs:documentation>The unique URL location of a major design element.</xs:documentation>
</xs:annotation>
</xs:element>
<!--Genericode code list MajorDesignElementTypeCode.gc--><xs:element name="MajorDesignElementTypeCode" nillable="false" type="niem-xs:normalizedString">
<xs:annotation>
<xs:documentation>Name of a major design element.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/MajorDesignElementTypeCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="MaximumAllowedAttachmentPageQuantity" nillable="false" type="nc:NumericType">
<xs:annotation>
<xs:documentation>The maximum allowed number of pages in an attachment.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="MaximumAllowedAttachmentSize" nillable="false" type="nc:MeasureType">
<xs:annotation>
<xs:documentation>The maximum allowed attachment size, in bytes.  Does not appear if there is no maximum.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="MaximumAllowedMessageSize" nillable="false" type="nc:MeasureType">
<xs:annotation>
<xs:documentation>Maximum allowed size of the Court Filing Message Stream, in bytes.  Does not appear if there is no maximum.</xs:documentation>
</xs:annotation>
</xs:element>
<!--Genericode code list OperationNameCode.gc--><xs:element name="OperationNameCode" nillable="false" type="niem-xs:normalizedString">
<xs:annotation>
<xs:documentation>Indicates whether the e-filing system supports a certain operation.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/OperationNameCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="PolicyVersionID" nillable="false" type="nc:IdentificationType">
<xs:annotation>
<xs:documentation>The version of court policy reported by this message.  Up to the court to define the format of this, and describe in human-readable court policy.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="RuntimePolicy" nillable="false" type="policyresponse:RuntimePolicyType">
<xs:annotation>
<xs:documentation>Within Court Policy, the policies that are accessed dynamically by applications interacting with a court.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SchemaExtension" nillable="false" type="policyresponse:SchemaExtensionType">
<xs:annotation>
<xs:documentation>A structure representing the court-specific extensions for this court</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SupportedCaseCategories" nillable="false" type="policyresponse:SupportedCaseCategoriesType">
<xs:annotation>
<xs:documentation>A list of ECF case types.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SupportedOperations" nillable="false" type="policyresponse:SupportedOperationsType">
<xs:annotation>
<xs:documentation>A structure containing indicators that signal support by the e-filing system for optional ECF operations. E.g. particular queries</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SupportedServiceInteractionProfiles" nillable="false" type="policyresponse:SupportedServiceInteractionProfilesType">
<xs:annotation>
<xs:documentation>A signature profile approved for use with ECF by the OASIS LegalXML Member Section Electronic Court Filing Technical Committee that is supported by this court.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SupportedSignaturesProfiles" nillable="false" type="policyresponse:SupportedSignatureProfilesType">
<xs:annotation>
<xs:documentation>A signature profile approved for use with ECF by the OASIS LegalXML Member Section Electronic Court Filing Technical Committee that is supported by this court.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="URLAttachmentSupportedIndicator" nillable="false" type="niem-xs:boolean">
<xs:annotation>
<xs:documentation>Whether court allows attachments via remote URLs.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>