src/main/resources/wsdl/v5/ecf-v5-77.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><!-- NIEM extension schema generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/reservedate" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.0/" xmlns:local="local" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:reservedate="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/reservedate" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/reservedate" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/reservedate</xs:documentation>
</xs:annotation><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf-v5-3.xsd"/><xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.0/" schemaLocation="ecf-v5-17.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecf-v5-22.xsd"/><xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="ecf-v5-23.xsd"/><xs:complexType name="ReserveCourtDateMessageType">
<xs:annotation>
<xs:documentation>A request to allocate a court date on the schedule.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:CaseFilingType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:CaseParticipantRoleCode"/>
<xs:element maxOccurs="1" minOccurs="0" ref="nc:Case"/>
<xs:element maxOccurs="1" minOccurs="0" ref="reservedate:EstimatedDuration"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="reservedate:PotentialStartTimeRange"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="reservedate:ReserveCourtDateMessageAugmentationPoint"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="EstimatedDuration" nillable="false" type="niem-xs:duration">
<xs:annotation>
<xs:documentation>The estimated duration of a court hearing</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PotentialStartTimeRange" nillable="false" type="nc:DateRangeType">
<xs:annotation>
<xs:documentation>A time after which a court event may begin</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ReserveCourtDateMessage" nillable="false" type="reservedate:ReserveCourtDateMessageType">
<xs:annotation>
<xs:documentation>A request to allocate a court date on the schedule.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element abstract="true" name="ReserveCourtDateMessageAugmentationPoint">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>