src/main/resources/wsdl/v5/ecf-v5-56.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><!-- NIEM extension schema generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/payment" xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:payment="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/payment" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/payment" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/payment</xs:documentation>
</xs:annotation><xs:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" schemaLocation="ecf-v5-47.xsd"/><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf-v5-3.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecf-v5-22.xsd"/><xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="ecf-v5-23.xsd"/><xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="ecf-v5-24.xsd"/><!--Genericode code list FeeExceptioneasonCode.gc--><xs:complexType name="PaymentMessageType">
<xs:annotation>
<xs:documentation>The payment submitted with a filing.  The payment may consist of a fee for filing of the document(s) submitted, or for a fine or other payment due to the court.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" ref="cac:Address"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="cac:AllowanceCharge"/>
<xs:element maxOccurs="1" minOccurs="0" ref="cac:Payment"/>
<xs:element maxOccurs="1" minOccurs="0" ref="cac:PaymentMandate"/>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:FeeExceptionReasonCode"/>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:FeeExceptionSupportingText"/>
<xs:element maxOccurs="1" minOccurs="1" ref="payment:CorrectedPaymentIndicator"/>
<xs:element maxOccurs="1" minOccurs="1" ref="payment:Payer"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="CorrectedPaymentIndicator" nillable="false" type="niem-xs:boolean">
<xs:annotation>
<xs:documentation>Indicates whether the payment has been corrected in the Filing Review MDE</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Payer" nillable="false" type="nc:PersonType">
<xs:annotation>
<xs:documentation>Name of the payer of the FilingPayment.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PaymentMessage" nillable="false" type="payment:PaymentMessageType">
<xs:annotation>
<xs:documentation>The payment submitted with a filing.  The payment may consist of a fee for filing of the document(s) submitted, or for a fine or other payment due to the court.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>