.jjconflict-base-0/TylerEcf5/src/main/resources/wsdl/v2024_6/base/ecfv5-b7badd6c03329d2f.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:feesresponse="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/feesresponse" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:updatefeesresponse="urn:tyler:ecf:v5.0:extensions:updatefeesresponse" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" targetNamespace="urn:tyler:ecf:v5.0:extensions:updatefeesresponse" version="5.0">
	<xs:annotation>
		<xs:documentation> Schema for namespace urn:tyler:ecf:v5.0:extensions:updatefeesresponse</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" schemaLocation="ecfv5-afe0703e358907a0.xsd"/>
	<xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecfv5-ea1e0f75b69752b5.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecfv5-7af13829a6695741.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="ecfv5-43381e9aa490c46d.xsd"/>
	<xs:complexType name="UpdateFeesResponseMessageType">
		<xs:annotation>
			<xs:documentation>The response to a UpdateFeesMessage, which may either be 0 indicating no fee is due, a currency amount indicating the fee due upon filing, or unknown indicating that the court case management information system is unable to calculate the fee for the proposed filing.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ecf:ResponseMessageType">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" ref="cac:AllowanceCharge"/>
					<xs:element maxOccurs="1" minOccurs="1" ref="updatefeesresponse:UpdateFeesAmount"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" ref="updatefeesresponse:UpdateFeesResponseMessageAugmentationPoint"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="UpdateFeesAmount" type="nc:AmountType">
		<xs:annotation>
			<xs:documentation>A total of all fees.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UpdateFeesResponseMessage" type="updatefeesresponse:UpdateFeesResponseMessageType">
		<xs:annotation>
			<xs:documentation>The response to a UpdateFeesMessage, which may either be 0 indicating no fee is due, a currency amount indicating the fee due upon filing, or unknown indicating that the court case management information system is unable to calculate the fee for the proposed filing.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element abstract="true" name="UpdateFeesResponseMessageAugmentationPoint">
		<xs:annotation>
			<xs:documentation>An extension point for the enclosing message.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>