TylerEcf4/src/main/resources/wsdl/v2025_4/base/civil.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!-- NIEM extension schema generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) -->
<xs:schema targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/civil"
 xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/civil"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:civil="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/civil" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:hs="http://release.niem.gov/niem/domains/humanServices/4.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.0">
<xs:annotation>
	<!-- NOTE(brycew): Manual Addition: CourtScheduling requires civil.xsd (from https://illinois-stage.tylertech.cloud/EFM/Schema/v5/civil.xsd), but links to it no where.
	     Manually adjusted the xsd files pointed to-->
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/civil</xs:documentation>
</xs:annotation>
<xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf-v5-005ddcb9c0fe05de.xsd"/>
<xs:import namespace="http://release.niem.gov/niem/domains/humanServices/4.0/" schemaLocation="hs.xsd"/>
  <xs:import schemaLocation="ecf-v5-966bb27464653f84.xsd" namespace="http://release.niem.gov/niem/niem-core/4.0/"/>
  <xs:import schemaLocation="ecf-v5-4d179e3e0bd140a9.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/4.0/"/>
  <xs:import schemaLocation="ecf-v5-43381e9aa490c46d.xsd" namespace="http://release.niem.gov/niem/structures/4.0/"/>
<!--Genericode code list CauseOfActionCode.gc; Genericode code list JurisdictionGroundsCode.gc; Genericode code list ReliefTypeCode.gc-->
<xs:complexType name="CaseAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation type</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="civil:AmountInControversy" minOccurs="0" maxOccurs="1"/>
<xs:element ref="civil:CivilClassActionIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element ref="civil:DecedentEstateCase" minOccurs="0" maxOccurs="1"/>
<xs:element ref="civil:FiduciaryCaseAssociation" minOccurs="0" maxOccurs="1"/>
<xs:element ref="civil:JurisdictionalGroundsCode" minOccurs="0" maxOccurs="1"/>
<xs:element ref="civil:JuryDemandIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element ref="civil:ReliefTypeCode" minOccurs="1" maxOccurs="unbounded"/>
<xs:element ref="ecf:CauseOfActionCode" minOccurs="1" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="DecedentEstateCaseType">
<xs:annotation>
<xs:documentation>Information about a case administering and distributing the assets of a testate or intestate decedent.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element ref="civil:Decedent" minOccurs="1" maxOccurs="1"/>
<xs:element ref="civil:WillFilingDate" minOccurs="0" maxOccurs="1"/>
<xs:element ref="nc:PersonDeathDate" minOccurs="1" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<!--Genericode code list FiduciaryTypeCode.gc--><xs:complexType name="FiduciaryCaseAssociationType">
<xs:annotation>
<xs:documentation>Information about a guardianship, conservatorship, trust, or mental health case.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="hs:PersonCaseAssociationType">
<xs:sequence>
<xs:element ref="civil:FiduciaryTypeCode" minOccurs="1" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="AmountInControversy" type="nc:AmountType" nillable="false">
<xs:annotation>
<xs:documentation>The amount set forth in an ad damnum clause in a complaint, counter claim, or cross complaint.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CaseAugmentation" type="civil:CaseAugmentationType" substitutionGroup="nc:CaseAugmentationPoint" nillable="false">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CivilClassActionIndicator" type="niem-xs:boolean" nillable="false">
<xs:annotation>
<xs:documentation>Whether the filer is requesting that this case proceed as a class action.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Decedent" type="nc:PersonType" nillable="true">
<xs:annotation>
<xs:documentation>The deceased person who estate is the subject of a court case.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DecedentEstateCase" type="civil:DecedentEstateCaseType" nillable="false">
<xs:annotation>
<xs:documentation>Information about a case administering and distributing the assets of a testate or intestate decedent.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="FiduciaryCaseAssociation" type="civil:FiduciaryCaseAssociationType" nillable="false">
<xs:annotation>
<xs:documentation>InfInformation about a guardianship, conservatorship, trust, or mental health case.</xs:documentation>
</xs:annotation>
</xs:element>
<!--Genericode code list FiduciaryTypeCode.gc--><xs:element name="FiduciaryTypeCode" type="nc:TextType" nillable="false">
<xs:annotation>
<xs:documentation>Legal description of the role of a fiduciary. Examples: guardian, trustee, conservator of the person, conservator of the estate.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/FiduciaryTypeCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<!--Genericode code list JurisdictionGroundsCode.gc--><xs:element name="JurisdictionalGroundsCode" type="nc:TextType" nillable="false">
<xs:annotation>
<xs:documentation>The grounds for invoking the jurisdiction of a limited jurisdiction court.  Allowed values set forth in Court policy. Not used in general jurisdiction courts.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/JurisdictionalGroundsCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="JuryDemandIndicator" type="niem-xs:boolean" nillable="false">
<xs:annotation>
<xs:documentation>Whether filer invokes the right to trial by jury.</xs:documentation>
</xs:annotation>
</xs:element>
<!--Genericode code list ReliefTypeCode.gc--><xs:element name="ReliefTypeCode" type="nc:TextType" nillable="false">
<xs:annotation>
<xs:documentation>Indicator of the type of relief requested in the case, e.g., damages, equitable relief (injunction).  Allowable values defined in Court Policy.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ReliefTypeCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="WillFilingDate" type="nc:DateType" nillable="false">
<xs:annotation>
<xs:documentation>Date on which the will of the decesaed person was filed in the court.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>
