TylerEcf4/src/main/resources/wsdl/v2025_4/base/ecf-v5-8803a2658f9ecbc5.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><!-- NIEM extension schema generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/datecallback" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:datecallback="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/datecallback" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.0/" xmlns:local="local" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:xcal="urn:ietf:params:xml:ns:icalendar-2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/datecallback" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/datecallback</xs:documentation>
</xs:annotation><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf-v5-005ddcb9c0fe05de.xsd"/><xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.0/" schemaLocation="ecf-v5-f170c31c1d220487.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecf-v5-966bb27464653f84.xsd"/><xs:import namespace="urn:ietf:params:xml:ns:icalendar-2.0" schemaLocation="ecf-v5-5895364ae0d78979.xsd"/><xs:complexType name="NotifyCourtDateMessageType">
<xs:annotation>
<xs:documentation>The message returned when the a court date is scheduled, generally in response to a ReserveCourtDateRequest.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:CaseFilingType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" ref="nc:Case"/>
<xs:element maxOccurs="1" minOccurs="0" ref="xcal:icalendar"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="datecallback:NotifyCourtDateMessageAugmentationPoint"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="NotifyCourtDateMessage" nillable="false" type="datecallback:NotifyCourtDateMessageType">
<xs:annotation>
<xs:documentation>The message returned when the a court date is scheduled, generally in response to a ReserveCourtDateRequest.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element abstract="true" name="NotifyCourtDateMessageAugmentationPoint">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>