TylerEcf4/src/main/resources/wsdl/v2025_4/base/ecf-v5-c88a5c33b232f02e.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="http://release.niem.gov/niem/appinfo/4.0/" xmlns:cbrn="http://release.niem.gov/niem/domains/cbrn/4.0/" xmlns:cbrncl="http://release.niem.gov/niem/codes/cbrncl/4.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/4.0/#ReferenceSchemaDocument" targetNamespace="http://release.niem.gov/niem/domains/cbrn/4.0/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/4.0/ ../../../utility/appinfo/4.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../../utility/conformanceTargets/3.0/conformanceTargets.xsd">
  <xs:annotation>
    <xs:documentation>Chemical, Biological, Radiological, and Nuclear Domain</xs:documentation>
  </xs:annotation>
  <xs:import namespace="http://release.niem.gov/niem/codes/cbrncl/4.0/" schemaLocation="ecf-v5-ad3c00d14ab74484.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecf-v5-966bb27464653f84.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="ecf-v5-4d179e3e0bd140a9.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="ecf-v5-43381e9aa490c46d.xsd"/>
  <xs:complexType name="MessageContentErrorType">
    <xs:annotation>
      <xs:documentation>A data type that provides information about the point in the xml payload content of a message where an error occurred in processing the message.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" ref="cbrn:ErrorNodeName"/>
          <xs:element maxOccurs="1" minOccurs="1" ref="cbrn:ErrorDescription"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MessageErrorType">
    <xs:annotation>
      <xs:documentation>A data type that describes a message error.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" ref="cbrn:ErrorCodeText"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="cbrn:ErrorCodeDescriptionText"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MessageStatusType">
    <xs:annotation>
      <xs:documentation>A data type to provide success or error feedback on a message that has been received.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cbrn:SystemEventType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" ref="cbrn:CredentialsAuthenticatedCode"/>
          <xs:element maxOccurs="1" minOccurs="1" ref="cbrn:MessageStatusCode"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="cbrn:MessageContentError"/>
          <xs:element maxOccurs="1" minOccurs="1" ref="cbrn:MessageHandlingError"/>
          <xs:element maxOccurs="1" minOccurs="1" ref="cbrn:ResendRequestIndicator"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="cbrn:MessageStatusAugmentationPoint"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RemarksComplexObjectType">
    <xs:annotation>
      <xs:documentation>A data type providing a Remark via inheritance to applicable Types.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SystemEventType">
    <xs:annotation>
      <xs:documentation>A data type for a system event.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cbrn:RemarksComplexObjectType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" ref="cbrn:SystemEventDateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" ref="nc:SystemOperatingModeAbstract"/>
        </xs:sequence>
        <xs:attribute ref="cbrn:systemSimulatedIndicator" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:attribute name="systemSimulatedIndicator" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>True if the system is simulated; false otherwise.  If the attribute is not present, the value is false.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:element name="CredentialsAuthenticatedCode" type="cbrncl:CredentialsAuthenticatedCodeType">
    <xs:annotation>
      <xs:documentation>A verfication of the authenticating credentials.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ErrorCodeDescriptionText" type="nc:TextType">
    <xs:annotation>
      <xs:documentation>A description of an error code in free form text.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ErrorCodeText" type="nc:TextType">
    <xs:annotation>
      <xs:documentation>An error code.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ErrorDescription" type="cbrn:MessageErrorType">
    <xs:annotation>
      <xs:documentation>A text description of an error that occurred at a specific XML tag while processing an XML message.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ErrorNodeName" type="nc:TextType">
    <xs:annotation>
      <xs:documentation>A name of the XML tag at which an error occurred.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MessageContentError" type="cbrn:MessageContentErrorType">
    <xs:annotation>
      <xs:documentation>A set of information about the point in the xml payload content of a message where an error occurred in processing the message.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MessageHandlingError" type="cbrn:MessageErrorType">
    <xs:annotation>
      <xs:documentation>A description of a  message error encountered by an infrastructure component in the process of message handling and transmission.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MessageStatus" type="cbrn:MessageStatusType">
    <xs:annotation>
      <xs:documentation>A status of the message.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element abstract="true" name="MessageStatusAugmentationPoint">
    <xs:annotation>
      <xs:documentation>An augmentation point for cbrn:MessageStatusType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MessageStatusCode" type="cbrncl:MessageStatusCodeType">
    <xs:annotation>
      <xs:documentation>A code for the receiving status of a message.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MultimediaDataMIMEKindText" type="niem-xs:string">
    <xs:annotation>
      <xs:documentation>A media type listed in http://www.iana.org/assignments/media-types/index.html.  If the media type is not listed, then describe the media type using free-form text.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ResendRequestIndicator" type="niem-xs:boolean">
    <xs:annotation>
      <xs:documentation>True if the message should be resent; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SystemEventDateTime" type="niem-xs:dateTime">
    <xs:annotation>
      <xs:documentation>A date and time of a system event.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SystemOperatingModeCode" substitutionGroup="nc:SystemOperatingModeAbstract" type="cbrncl:SystemOperatingModeCodeType">
    <xs:annotation>
      <xs:documentation>A code for an operating mode of a system.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>