TylerEcf4/src/main/resources/wsdl/v2025_4/base/ecf-v5-005ddcb9c0fe05de.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><!-- NIEM extension schema generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:biom="http://release.niem.gov/niem/domains/biometrics/4.0/" xmlns:cbrn="http://release.niem.gov/niem/domains/cbrn/4.0/" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.0/" xmlns:local="local" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf</xs:documentation>
</xs:annotation><xs:import namespace="http://release.niem.gov/niem/domains/biometrics/4.0/" schemaLocation="ecf-v5-df3f12712febf49a.xsd"/><xs:import namespace="http://release.niem.gov/niem/domains/cbrn/4.0/" schemaLocation="ecf-v5-c88a5c33b232f02e.xsd"/><xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.0/" schemaLocation="ecf-v5-f170c31c1d220487.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecf-v5-966bb27464653f84.xsd"/><xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="ecf-v5-4d179e3e0bd140a9.xsd"/><xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="ecf-v5-43381e9aa490c46d.xsd"/><xs:complexType name="CallbackMessageType">
<xs:annotation>
<xs:documentation>The base message for an asynchronous response to a message.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:CaseFilingType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:FilingCompletionDate"/>
<xs:element maxOccurs="1" minOccurs="1" ref="ecf:FilingStatus"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="ecf:ReviewedConnectedDocument"/>
<xs:element maxOccurs="unbounded" minOccurs="1" ref="ecf:ReviewedLeadDocument"/>
<xs:element maxOccurs="1" minOccurs="1" ref="nc:Case"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<!--Genericode code list CaseCategoryCode.gc--><xs:complexType name="CaseAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation type</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:CaseCategoryCode"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="ecf:CaseParty"/>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:CaseShortTitleText"/>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:CaseTypeCode"/>
<xs:element maxOccurs="1" minOccurs="0" ref="j:CaseNumberText"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="j:CaseOfficial"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="nc:Metadata"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="nc:OrganizationAssociation"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="nc:PersonAssociation"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="nc:PersonOrganizationAssociation"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="CaseFilingType">
<xs:annotation>
<xs:documentation>The core information contained in an ECF 5.0 message.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="nc:DocumentType">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="1" ref="ecf:DocumentFiler"/>
<xs:element maxOccurs="1" minOccurs="1" ref="ecf:SendingMDELocationID"/>
<xs:element maxOccurs="1" minOccurs="1" ref="ecf:ServiceInteractionProfileCode"/>
<xs:element maxOccurs="1" minOccurs="1" ref="j:CaseCourt"/>
<xs:element maxOccurs="1" minOccurs="0" ref="nc:DocumentInformationCutOffDate"/>
<xs:element maxOccurs="1" minOccurs="1" ref="nc:DocumentPostDate"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="CaseOfficialAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation type</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="ecf:CaseRepresentedParty"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="CourtEventActorType">
<xs:annotation>
<xs:documentation>The actor who performed the action as set forth in the docket entry. E.g. the person who filed the document.  Does not include the name of the court clerk composing the docket entry.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" ref="nc:RoleOfAbstract"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<!--Genericode code list CourtEventTypeCode.gc; Genericode code list CourtLocationCode.gc--><xs:complexType name="CourtEventAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation type</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="ecf:ChildDocket"/>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:ConnectedDocument"/>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:CourtEventActor"/>
<xs:element maxOccurs="1" minOccurs="1" ref="ecf:CourtEventEnteredOnDocketDate"/>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:CourtEventLocationText"/>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:CourtEventOnBehalfOfActor"/>
<xs:element maxOccurs="1" minOccurs="1" ref="ecf:CourtEventTypeCode"/>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:CourtLocationCode"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="nc:CaseDocketID"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="CourtEventOnBehalfOfActorType">
<xs:annotation>
<xs:documentation>The actor on whose behalf the filing was submitted to the court as set forth in the docket entry.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" ref="nc:RoleOfAbstract"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<!--Genericode code list DocumentRelatedCode.gc--><xs:complexType name="DocumentAssociationAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation type</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" ref="ecf:DocumentRelatedCode"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<!--Reference nc:Metadata with nc:Document/@structures:metadata; Genericode code list RegisterActionDescriptionCode.gc--><xs:complexType name="DocumentAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation type</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:AffectedParticipant"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="ecf:DocumentFiler"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="ecf:DocumentRendition"/>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:RedactionRequiredIndicator"/>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:RegisterActionDescriptionCode"/>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:SpecialHandlingInstructionsText"/>
<xs:element maxOccurs="1" minOccurs="0" ref="nc:DocumentAssociation"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="nc:Metadata"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<!--Genericode code list MultimediaDataMIMEKindText.gc--><xs:complexType name="DocumentRenditionType">
<xs:annotation>
<xs:documentation>Descriptors for a rendition of a Document. This is meant to include all the information about the document that is needed to  enter it into the Document Management System.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="nc:DocumentType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" ref="cbrn:MultimediaDataMIMEKindText"/>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:ColorRelevantIndicator"/>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:DocumentRenditionHash"/>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:DocumentSignature"/>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:RedactedIndicator"/>
<xs:element maxOccurs="1" minOccurs="1" ref="nc:Attachment"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="DocumentSignatureType">
<xs:annotation>
<xs:documentation>Information describing or constituting the signature on a document submitted to a court for filing.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:SignatureAugmentation"/>
<xs:element maxOccurs="1" minOccurs="1" ref="ecf:SignatureProfileCode"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ElectronicServiceInformationType">
<xs:annotation>
<xs:documentation>Information provided by the filing assembly MDE to the court identifying the persons being served electronically with a copy of this filing. This information can constitute the certificate of service for service performed electronically. This information is also provided by the filing assembly MDE to service MDEs to identify persons to whom the service MDEs are required to deliver the filing.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" ref="ecf:ReceivingMDELocationID"/>
<xs:element maxOccurs="1" minOccurs="1" ref="ecf:ReceivingMDEProfileCode"/>
<xs:element maxOccurs="1" minOccurs="1" ref="ecf:ServiceRecipientID"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<!--Genericode code list FilingStatusCode.gc--><xs:complexType name="FilingStatusType">
<xs:annotation>
<xs:documentation>A textual description of the reason for the setting of the status in the filingStatusCode.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="nc:StatusType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" ref="ecf:FilingStatusCode"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="InsuranceType">
<xs:annotation>
<xs:documentation>Insurance coverage for an individual.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="nc:InsuranceType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ItemAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation type</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="1" ref="ecf:CaseParticipantRoleCode"/>
<xs:element maxOccurs="1" minOccurs="1" ref="ecf:ParticipantID"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="MatchingFilingType">
<xs:annotation>
<xs:documentation>A filing matching the parameters submitted with a FilingListQueryMessage.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="nc:DocumentType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" ref="ecf:FilingStatus"/>
<xs:element maxOccurs="1" minOccurs="0" ref="nc:Case"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<!--Genericode code list ServiceStatusCode.gc--><xs:complexType name="MessageStatusAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation type</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:ServiceRecipientID"/>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:ServiceStatusCode"/>
<xs:element maxOccurs="1" minOccurs="1" ref="nc:DocumentIdentification"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<!--Genericode code list EntityAssociationTypeCode.gc--><xs:complexType name="OrganizationAssociationAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation type</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:EntityAssociationTypeCode"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="OrganizationAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation type</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="1" ref="ecf:CaseParticipantRoleCode"/>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:ElectronicServiceInformation"/>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:ParticipantID"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="nc:ContactInformation"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="PersonAssociationAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation type</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:EntityAssociationTypeCode"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<!--Genericode code list ecf:CaseParticipantRoleCode.gc--><xs:complexType name="PersonAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation type</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="ecf:CaseParticipantRoleCode"/>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:ElectronicServiceInformation"/>
<xs:element maxOccurs="1" minOccurs="1" ref="ecf:ParticipantID"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="nc:ContactInformation"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="nc:Insurance"/>
<xs:element maxOccurs="1" minOccurs="0" ref="nc:PersonEmploymentAssociation"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="PersonOrganizationAssociationAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation type</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:EntityAssociationTypeCode"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<!--Genericode code list RelatedCaseAssociationTypeCode.gc--><xs:complexType name="RelatedActivityAssociationAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation type</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:RelatedCaseAssociationTypeCode"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="RequestMessageType">
<xs:annotation>
<xs:documentation>The base message for a synchronous request/query.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:CaseFilingType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ResponseMessageType">
<xs:annotation>
<xs:documentation>The base message for a synchronous response to a request.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:CaseFilingType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" ref="cbrn:MessageStatus"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ReviewedDocumentAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation type</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:DocumentReviewStatus"/>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:DocumentReviewer"/>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:SealDocumentIndicator"/>
<xs:element maxOccurs="1" minOccurs="0" ref="nc:CaseDocketID"/>
<xs:element maxOccurs="1" minOccurs="0" ref="nc:DocumentAssociation"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ReviewedDocumentType">
<xs:annotation>
<xs:documentation>A document that has been reviewed through the clerk review process, and that potentially has been or will be reocrded in the court record system.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="nc:DocumentType">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="1" ref="ecf:ReviewedDocumentAugmentationPoint"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="SignatureAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation type</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:any/></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="SubjectAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation type</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" ref="biom:Biometric"/>
<xs:element maxOccurs="1" minOccurs="0" ref="ecf:SubjectWarrantIssuedIndicator"/>
<xs:element maxOccurs="1" minOccurs="0" ref="j:RapSheetTransactionControlIdentification"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="AffectedParticipant" nillable="false" type="nc:EntityType">
<xs:annotation>
<xs:documentation>Identifier recognized by the court as being unique within this case,and used to identify a party other than the filer who is affected by the document.</xs:documentation>
</xs:annotation>
</xs:element>
<!--Reference nc:Metadata with nc:Case/@strutures:metadata--><xs:element name="CaseAugmentation" nillable="false" substitutionGroup="nc:CaseAugmentationPoint" type="ecf:CaseAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
<!--Genericode code list CaseCategoryCode.gc--><xs:element name="CaseCategoryCode" nillable="false" type="nc:TextType">
<xs:annotation>
<xs:documentation>The type of trial in the lower court (e.g. bench, jury).</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/CaseCategoryCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="CaseCauseOfActionCode" nillable="false" type="nc:TextType">
<xs:annotation>
<xs:documentation>The legal ground on which the request for relief is based.  Allowed values set forth in court policy. Example: the basis(es) for relief in a civil case; the grounds for divorce in a state that does not recognize no-fault divorce; grounds for entry of an order of protection in a domestic violence case.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CaseFiling" nillable="false" type="ecf:CaseFilingType">
<xs:annotation>
<xs:documentation>The base message for a message with an asynchronous response.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CaseOfficialAugmentation" nillable="false" substitutionGroup="j:CaseOfficialAugmentationPoint" type="ecf:CaseOfficialAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
<!--Genericode code list ecf:CaseParticipantRoleCode.gc--><xs:element name="CaseParticipantRoleCode" nillable="false" type="nc:TextType">
<xs:annotation>
<xs:documentation>A type of participant in a court case</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/CaseParticipantRoleCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="CaseParty" nillable="false" type="nc:EntityType">
<xs:annotation>
<xs:documentation>A person alleged or found to have committed a crime or violation.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CaseRepresentedParty" nillable="false" type="nc:EntityType">
<xs:annotation>
<xs:documentation>A party represented by an attorney</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CaseShortTitleText" nillable="false" type="nc:TextType">
<xs:annotation>
<xs:documentation>An abbreviated official name of a Case, usually shortened to contain only the last name of the first listed party on each side of the case.  Examples: Smith v. Jones, et al.; State v. Alexander. No title exists when the message is initiating a new case.</xs:documentation>
</xs:annotation>
</xs:element>
<!--Genericode code list CaseTypeCode.gc--><xs:element name="CaseTypeCode" nillable="false" type="niem-xs:normalizedString">
<xs:annotation>
<xs:documentation>Indicates whether the e-filing system supports electronic filing of a certain case type.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/CaseTypeCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<!--Genericode code list CauseOfActionCode.gc--><xs:element name="CauseOfActionCode" nillable="false" type="nc:TextType">
<xs:annotation>
<xs:documentation>The legal ground on which the request for relief is based.  Allowed values set forth in court policy. Example: the basis(es) for relief in a civil case; the grounds for divorce in a state that does not recognize no-fault divorce; grounds for entry of an order of protection in a domestic violence case.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/CauseOfActionCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="ChildDocket" nillable="false" type="j:CourtEventType">
<xs:annotation>
<xs:documentation>An entry on the docket or register of actions that is a child of the current docket entry.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ColorRelevantIndicator" nillable="false" type="niem-xs:boolean">
<xs:annotation>
<xs:documentation>Indicates whether color is or is not relevant for the presentation of the document.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ConnectedDocument" nillable="true" type="nc:DocumentType">
<xs:annotation>
<xs:documentation>The pleading, motion or order that is the subject of this docket entry.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CourtEventActor" nillable="false" type="ecf:CourtEventOnBehalfOfActorType">
<xs:annotation>
<xs:documentation>The actor who performed the action as set forth in the docket entry.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CourtEventAugmentation" nillable="false" substitutionGroup="j:CourtEventAugmentationPoint" type="ecf:CourtEventAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CourtEventEnteredOnDocketDate" nillable="false" type="nc:DateType">
<xs:annotation>
<xs:documentation>Date and time of entry into the court record.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CourtEventLocationText" nillable="false" type="nc:TextType">
<xs:annotation>
<xs:documentation>A textual description of the location in a court of the calendar event.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CourtEventOnBehalfOfActor" nillable="false" type="ecf:CourtEventActorType">
<xs:annotation>
<xs:documentation>The actor on whose behalf the filing was submitted to the court as set forth in the docket entry.</xs:documentation>
</xs:annotation>
</xs:element>
<!--Genericode code list CourtEventTypeCode.gc--><xs:element name="CourtEventTypeCode" nillable="false" type="nc:TextType">
<xs:annotation>
<xs:documentation>Filter criterion indicating that only calendar entries of a specified type are being requested.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/CourtEventTypeCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<!--Genericode code list CourtLocationCode.gc--><xs:element name="CourtLocationCode" nillable="false" type="nc:TextType">
<xs:annotation>
<xs:documentation>A court location</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/CourtLocationCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="DocumentAssociationAugmentation" nillable="false" substitutionGroup="nc:DocumentAssociationAugmentationPoint" type="ecf:DocumentAssociationAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocumentAugmentation" nillable="false" substitutionGroup="nc:DocumentAugmentationPoint" type="ecf:DocumentAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocumentFiler" nillable="false" type="nc:EntityType">
<xs:annotation>
<xs:documentation>An attorney, judicial official or a pro se (self-represented) litigant who electronically provides  filings (combinations of data and documents) for acceptance and filing by a court, or who has successfully filed filings with a court.</xs:documentation>
</xs:annotation>
</xs:element>
<!--Genericode code list DocumentRelatedCode.gc--><xs:element name="DocumentRelatedCode" nillable="false" type="niem-xs:normalizedString">
<xs:annotation>
<xs:documentation>A type of related document that was previously filed in this case.  For instance, the document to which this document is a response.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/DocumentRelatedCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="DocumentRendition" nillable="false" type="ecf:DocumentRenditionType">
<xs:annotation>
<xs:documentation>Descriptors for a rendition of a Document. This is meant to include all the information about the document that is needed to  enter it into the Document Management System.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocumentRenditionHash" nillable="false" type="nc:TextType">
<xs:annotation>
<xs:documentation>A hash of the document as it appears in the court record.  This attribute will be populated by either the clerk review process or the court record system.  If the latter, then it will be absent in the RecordDocketingMessage.  It will also be absent in callbacks for rejected documents.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocumentReviewStatus" nillable="false" type="nc:StatusType">
<xs:annotation>
<xs:documentation>The status of a document in the filing review process.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocumentReviewer" nillable="false" type="nc:EntityType">
<xs:annotation>
<xs:documentation>The entity that reviews and accepts or rejects a filing.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocumentSignature" nillable="false" type="ecf:DocumentSignatureType">
<xs:annotation>
<xs:documentation>Information describing or constituting the signature on a document submitted to a court for filing</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ElectronicServiceInformation" nillable="false" type="ecf:ElectronicServiceInformationType">
<xs:annotation>
<xs:documentation>Information provided by the filing assembly MDE to the court identifying the persons being served electronically with a copy of this document.</xs:documentation>
</xs:annotation>
</xs:element>
<!--Genericode code list EntityAssociationTypeCode.gc--><xs:element name="EntityAssociationTypeCode" nillable="false" type="nc:TextType">
<xs:annotation>
<xs:documentation>A code for the type of relationship between two persons, between two organizations, or between a person and an organization in a case.  Allowable values are set forth in Court Policy.  Examples include parent/child, subsidiary corporation, and chief executive officer.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/EntityAssociationTypeCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<!--Genericode code list FeeExceptioneasonCode.gc--><xs:element name="FeeExceptionReasonCode" nillable="false" type="nc:TextType">
<xs:annotation>
<xs:documentation>A code for the reason why a filer does not have to pay an otherwise applicable payment.  Allowable values set forth in Court Policy. Examples are in forma pauperis status granted or a fee waiver application submitted with the filing..</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/FeeExceptionReasonCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="FeeExceptionSupportingText" nillable="false" type="nc:TextType">
<xs:annotation>
<xs:documentation>Any text needed to support the exemption assertion (reference to a court order, etc.)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="FilingCompletionDate" nillable="false" type="nc:DateType">
<xs:annotation>
<xs:documentation>the date and time at which the Court Record MDE filing process was completed following the acceptance by the Filing Review MDE</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="FilingStatus" nillable="false" type="ecf:FilingStatusType">
<xs:annotation>
<xs:documentation>The status of a filing</xs:documentation>
</xs:annotation>
</xs:element>
<!--Genericode code list FilingStatusCode.gc--><xs:element name="FilingStatusCode" nillable="false" type="niem-xs:normalizedString">
<xs:annotation>
<xs:documentation>Status of the filing as determined by the system sending the callback. Values: accepted, partially accepted (e.g., some documents but not others), rejected.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/FilingStatusCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="ItemAugmentation" nillable="false" substitutionGroup="nc:ItemAugmentationPoint" type="ecf:ItemAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="MatchingFiling" nillable="false" type="ecf:MatchingFilingType">
<xs:annotation>
<xs:documentation>The document that is the subject of this query.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="MessageStatusAugmentation" nillable="false" substitutionGroup="cbrn:MessageStatusAugmentationPoint" type="ecf:MessageStatusAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="OrganizationAssociationAugmentation" nillable="false" substitutionGroup="nc:OrganizationAssociationAugmentationPoint" type="ecf:OrganizationAssociationAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="OrganizationAugmentation" nillable="false" substitutionGroup="nc:OrganizationAugmentationPoint" type="ecf:OrganizationAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ParticipantID" nillable="false" type="nc:IdentificationType">
<xs:annotation>
<xs:documentation>A unique identifier for an entity participating in a case.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PersonAssociationAugmentation" nillable="false" substitutionGroup="nc:PersonAssociationAugmentationPoint" type="ecf:PersonAssociationAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PersonAugmentation" nillable="false" substitutionGroup="nc:PersonAugmentationPoint" type="ecf:PersonAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
<!--Genericode code list PersonIdentificationCategoryCode.gc--><xs:element name="PersonIdentificationCategoryCode" nillable="false" substitutionGroup="nc:IdentificationCategoryAbstract" type="niem-xs:normalizedString">
<xs:annotation>
<xs:documentation>A type of person identifier.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/PersonIdentificationCategoryCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="PersonOrganizationAugmentation" nillable="false" substitutionGroup="nc:PersonOrganizationAssociationAugmentationPoint" type="ecf:PersonOrganizationAssociationAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ReceivingMDELocationID" nillable="false" type="nc:IdentificationType">
<xs:annotation>
<xs:documentation>The location of the service MDE associated with the person receiving service.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ReceivingMDEProfileCode" nillable="false" type="niem-xs:normalizedString">
<xs:annotation>
<xs:documentation>Code identifying the service interaction profile being used by the receiving MDE.  This list should be extensible to accommodate future service interaction profiles. Each code value is specified within the service interaction profile approved for use with ECF.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="RedactedIndicator" nillable="false" type="niem-xs:boolean">
<xs:annotation>
<xs:documentation>An indicator that sensitive information has been removed from this rendition of the document.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="RedactionRequiredIndicator" nillable="false" type="niem-xs:boolean">
<xs:annotation>
<xs:documentation>Indicator by the filer that the document must be redacted by the court.</xs:documentation>
</xs:annotation>
</xs:element>
<!--Genericode code list RegisterActionDescriptionCode.gc--><xs:element name="RegisterActionDescriptionCode" nillable="false" type="nc:TextType">
<xs:annotation>
<xs:documentation>The docket code used by the court for the type of document submitted. Allowable values set forth in Court Policy.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/RegisterActionDescriptionCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<!--Genericode code list RelatedCaseAssociationTypeCode.gc--><xs:element name="RelatedCaseAssociationTypeCode" nillable="false" type="nc:TextType">
<xs:annotation>
<xs:documentation>Nature of the relationship between the current case and the related case.  Allowable values to be set forth in Court Policy. Examples: associated, consolidated, related.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/RelatedCaseAssociationTypeCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="RelationActivityAssociationAugmentation" nillable="false" substitutionGroup="nc:RelatedActivityAssociationAugmentationPoint" type="ecf:RelatedActivityAssociationAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ReviewedConnectedDocument" nillable="true" type="ecf:ReviewedDocumentType">
<xs:annotation>
<xs:documentation>This element will be present for every connected document that is reviewed by clerk review. The filing connected document must be referenced using nc:DocumentAssociation. The clerk review results must be recorded using ecf:DocumentReviewStatus, and ecf:DocumentReviewer (optional).</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ReviewedDocumentAugmentation" nillable="false" substitutionGroup="ecf:ReviewedDocumentAugmentationPoint" type="ecf:ReviewedDocumentAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element abstract="true" name="ReviewedDocumentAugmentationPoint">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ReviewedLeadDocument" nillable="true" type="ecf:ReviewedDocumentType">
<xs:annotation>
<xs:documentation>This element will be present for every lead document that is reviewed by clerk review. The filing lead document must be referenced using nc:DocumentAssociation. The clerk review results must be recorded using ecf:DocumentReviewStatus, and ecf:DocumentReviewer (optional).</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SealDocumentIndicator" nillable="false" type="niem-xs:boolean">
<xs:annotation>
<xs:documentation>Clerk instruction to court record system to seal this document.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SendingMDELocationID" nillable="false" type="nc:IdentificationType">
<xs:annotation>
<xs:documentation>Location for the MDE to which asynchronous and service messages can be sent. This unique location is self-assigned by the MDE.</xs:documentation>
</xs:annotation>
</xs:element>
<!--Genericode code list ServiceInteractionProfileCode.gc--><xs:element name="ServiceInteractionProfileCode" nillable="false" type="niem-xs:normalizedString">
<xs:annotation>
<xs:documentation>An identifier, from a list of allowed values defined in the Court Filing specification, of a message profile supported by this court.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ServiceInteractionProfileCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="ServiceRecipientID" nillable="false" type="nc:IdentificationType">
<xs:annotation>
<xs:documentation>A value assigned to a person, organization or item entity for the purpose of uniquely specifying the entity within a legal service context with respect to e-filing. The service recipient identifier value must be known and understood by both the service provider and the service requester.</xs:documentation>
</xs:annotation>
</xs:element>
<!--Genericode code list ServiceStatusCode.gc--><xs:element name="ServiceStatusCode" nillable="false" type="niem-xs:normalizedString">
<xs:annotation>
<xs:documentation>Enumerated values: unrecognized - filerID is not recognized, received - filing received by MDE, sent - filing sent by MDE to service recipient  Future versions may add additional values, such as: delivered - filing delivered to service recipient. (i.e. under the control of the recipient) opened - filing opened by service recipient</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ServiceStatusCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="SignatureAugmentation" nillable="false" type="ecf:SignatureAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
<!--Genericode code list SignatureProfileCode.gc--><xs:element name="SignatureProfileCode" nillable="false" type="niem-xs:normalizedString">
<xs:annotation>
<xs:documentation>An identifier from the Court Filing specification that indicates the Signature Profile governing the structure of this signature.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/SignatureProfileCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="SpecialHandlingInstructionsText" nillable="false" type="nc:TextType">
<xs:annotation>
<xs:documentation>Any additional instructions for printing of a document (such as printing on front and back of the same page or printing on a particular color paper).</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SubjectAugmentation" nillable="false" substitutionGroup="j:SubjectAugmentationPoint" type="ecf:SubjectAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SubjectWarrantIssuedIndicator" nillable="false" type="niem-xs:boolean">
<xs:annotation>
<xs:documentation>Indicates whether an arrest warrant has been issued against the defendant.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="VehicleOperatorInsuranceCoverage" nillable="false" type="ecf:InsuranceType">
<xs:annotation>
<xs:documentation>Information concerning whether a driver of a motor vehicle possesses proof of insurance coverage required by law.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>