TylerEcf4/src/main/resources/wsdl/v2025_4/base/ecf-v5-00d44d8cd853a997.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><!-- NIEM extension schema generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/docket" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:docket="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/docket" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:filing="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filing" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.0/" xmlns:local="local" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/docket" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/docket</xs:documentation>
</xs:annotation><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf-v5-005ddcb9c0fe05de.xsd"/><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filing" schemaLocation="ecf-v5-54da63da60f75d57.xsd"/><xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.0/" schemaLocation="ecf-v5-f170c31c1d220487.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecf-v5-966bb27464653f84.xsd"/><xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="ecf-v5-4d179e3e0bd140a9.xsd"/><xs:complexType name="RecordDocketingMessageType">
<xs:annotation>
<xs:documentation>Message resulting from clerk review and edit of a ReviewFilingMessage.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:CaseFilingType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" ref="docket:CorrectedCase"/>
<xs:element maxOccurs="1" minOccurs="0" ref="docket:FilingReviewCommentsText"/>
<xs:element maxOccurs="1" minOccurs="0" ref="docket:SealCaseIndicator"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="ecf:ReviewedConnectedDocument"/>
<xs:element maxOccurs="unbounded" minOccurs="1" ref="ecf:ReviewedLeadDocument"/>
<xs:element maxOccurs="1" minOccurs="1" ref="filing:FilingMessage"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="docket:RecordDocketingMessageAugmentationPoint"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="CorrectedCase" nillable="false" type="nc:CaseType">
<xs:annotation>
<xs:documentation>The court case in which the filing is being docketed.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="FilingReviewCommentsText" nillable="false" type="nc:TextType">
<xs:annotation>
<xs:documentation>Comments provided by the clerk to the court record system during review.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="RecordDocketingMessage" nillable="false" type="docket:RecordDocketingMessageType">
<xs:annotation>
<xs:documentation>Message resulting from clerk review and edit of a ReviewFilingMessage.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element abstract="true" name="RecordDocketingMessageAugmentationPoint">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SealCaseIndicator" nillable="false" type="niem-xs:boolean">
<xs:annotation>
<xs:documentation>Instruction from the clerk to the court record to represent this case as "sealed."</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>