TylerEcf4/src/main/resources/wsdl/v2025_4/base/ecf-v5-e9cf45b8faa961b3.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><!--
     WS-Calendar Version 1.0
     Committee Specification 01
     30 July 2011
     Source: http://docs.oasis-open.org/ws-calendar/ws-calendar-spec/v1.0/cs01/xsd/
     Copyright (c) The Calendaring and Scheduling Consortium 2010-2011. All Rights Reserved.
     Copyright (c) OASIS Open 2010-2011. All Rights Reserved. --><!-- iCalendar object parameters schema is intended to work in
     conjunction with conformant implementations of IETF RFC 5545
     ( http://www.rfc-editor.org/rfc/rfc5545.txt ),
     the normative specification of iCalendar. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xcal="urn:ietf:params:xml:ns:icalendar-2.0" elementFormDefault="qualified" targetNamespace="urn:ietf:params:xml:ns:icalendar-2.0">
	<xs:include schemaLocation="ecf-v5-78f90906f32c9f0a.xsd"/>
	<!-- =====================================================================
       3.2 Property parameter definitions
       ===================================================================== -->
	<xs:complexType abstract="true" name="BaseParameterType"/>
	<xs:element name="baseParameter" type="xcal:BaseParameterType"/>
	<xs:complexType name="ArrayOfParameters">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="xcal:baseParameter"/>
		</xs:sequence>
	</xs:complexType>
	<!-- =====================================================================
       Define all the standard properties. By using a substitutionGroup we
       make it easy to extend the list of parameters. As an example see 
       the parameters defined in iCalendar-caldavsched-extensions.xsd
       ===================================================================== -->
	<xs:element name="altrep" substitutionGroup="xcal:baseParameter" type="xcal:AltrepParamType"/>
	<xs:element name="cn" substitutionGroup="xcal:baseParameter" type="xcal:CnParamType"/>
	<xs:element name="cutype" substitutionGroup="xcal:baseParameter" type="xcal:CutypeParamType"/>
	<xs:element name="delegated-from" substitutionGroup="xcal:baseParameter" type="xcal:DelegatedFromParamType"/>
	<xs:element name="delegated-to" substitutionGroup="xcal:baseParameter" type="xcal:DelegatedToParamType"/>
	<xs:element name="dir" substitutionGroup="xcal:baseParameter" type="xcal:DirParamType"/>
	<xs:element name="encoding" substitutionGroup="xcal:baseParameter" type="xcal:EncodingParamType"/>
	<xs:element name="fmttype" substitutionGroup="xcal:baseParameter" type="xcal:FmttypeParamType"/>
	<xs:element name="fbtype" substitutionGroup="xcal:baseParameter" type="xcal:FbtypeParamType"/>
	<xs:element name="language" substitutionGroup="xcal:baseParameter" type="xcal:LanguageParamType"/>
	<xs:element name="member" substitutionGroup="xcal:baseParameter" type="xcal:MemberParamType"/>
	<xs:element name="partstat" substitutionGroup="xcal:baseParameter" type="xcal:PartstatParamType"/>
	<xs:element name="range" substitutionGroup="xcal:baseParameter" type="xcal:RangeParamType"/>
	<xs:element name="related" substitutionGroup="xcal:baseParameter" type="xcal:RelatedParamType"/>
	<xs:element name="reltype" substitutionGroup="xcal:baseParameter" type="xcal:ReltypeParamType"/>
	<xs:element name="role" substitutionGroup="xcal:baseParameter" type="xcal:RoleParamType"/>
	<xs:element name="rsvp" substitutionGroup="xcal:baseParameter" type="xcal:RsvpParamType"/>
	<xs:element name="sent-by" substitutionGroup="xcal:baseParameter" type="xcal:SentByParamType"/>
	<xs:element name="tzid" substitutionGroup="xcal:baseParameter" type="xcal:TzidParamType"/>
	<!-- Scheduling parameters for attendee or organizer -->
	<xs:element name="schedule-agent" substitutionGroup="xcal:baseParameter" type="xcal:ScheduleAgentParamType"/>
	<xs:element name="schedule-force-send" substitutionGroup="xcal:baseParameter" type="xcal:ScheduleForceSendParamType"/>
	<xs:element name="schedule-status" substitutionGroup="xcal:baseParameter" type="xcal:ScheduleStatusParamType"/>
	<!-- Parameters that take a simple boolean value -->
	<xs:complexType mixed="false" name="BooleanParameterType">
		<xs:complexContent>
			<xs:extension base="xcal:BaseParameterType">
				<xs:sequence>
					<xs:element ref="xcal:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Parameters that take a simple text value -->
	<xs:complexType mixed="false" name="TextParameterType">
		<xs:complexContent>
			<xs:extension base="xcal:BaseParameterType">
				<xs:sequence>
					<xs:element ref="xcal:text"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Parameters that take a uri value -->
	<xs:complexType mixed="false" name="UriParameterType">
		<xs:complexContent>
			<xs:extension base="xcal:BaseParameterType">
				<xs:sequence>
					<xs:element ref="xcal:uri"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="CalAddressListParamType">
		<xs:complexContent>
			<xs:extension base="xcal:BaseParameterType">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" ref="xcal:cal-address"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="CalAddressParamType">
		<xs:complexContent>
			<xs:extension base="xcal:BaseParameterType">
				<xs:sequence>
					<xs:element ref="xcal:cal-address"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- 3.2.1 Alternate Text Representation -->
	<xs:complexType mixed="false" name="AltrepParamType">
		<xs:complexContent>
			<xs:extension base="xcal:UriParameterType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- 3.2.2 Common Name -->
	<xs:complexType mixed="false" name="CnParamType">
		<xs:complexContent>
			<xs:extension base="xcal:TextParameterType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- 3.2.3 Calendar User Type -->
	<xs:complexType mixed="false" name="CutypeParamType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
       cutypeparam        = "CUTYPE" "="
                          ("INDIVIDUAL"   ; An individual
                         / "GROUP"        ; A group of individuals
                         / "RESOURCE"     ; A physical resource
                         / "ROOM"         ; A room resource
                         / "UNKNOWN"      ; Otherwise not known
                         / x-name         ; Experimental type
                         / iana-token)    ; Other IANA-registered
                                          ; type
       ; Default is INDIVIDUAL
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xcal:TextParameterType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- 3.2.4 Delegators -->
	<xs:complexType mixed="false" name="DelegatedFromParamType">
		<xs:complexContent>
			<xs:extension base="xcal:CalAddressListParamType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- 3.2.5 Delegatees -->
	<xs:complexType mixed="false" name="DelegatedToParamType">
		<xs:complexContent>
			<xs:extension base="xcal:CalAddressListParamType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- 3.2.6 Directory Entry Reference -->
	<xs:complexType mixed="false" name="DirParamType">
		<xs:complexContent>
			<xs:extension base="xcal:UriParameterType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- 3.2.7 Inline Encoding -->
	<xs:complexType mixed="false" name="EncodingParamType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
       encodingparam      = "ENCODING" "="
                          ( "8BIT"
          ; "8bit" text encoding is defined in [RFC2045]
                          / "BASE64"
          ; "BASE64" binary encoding format is defined in [RFC4648]
                          )
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xcal:TextParameterType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- 3.2.8 Format Type -->
	<xs:complexType mixed="false" name="FmttypeParamType">
		<xs:complexContent>
			<xs:extension base="xcal:TextParameterType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- 3.2.9 Free/Busy Time Type -->
	<xs:complexType mixed="false" name="FbtypeParamType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
       fbtypeparam        = "FBTYPE" "=" 
                         ("FREE" 
                          / "BUSY"
                          / "BUSY-UNAVAILABLE" 
                          / "BUSY-TENTATIVE"
                          / x-name  ; Some experimental iCalendar free/busy type.
                          / iana-token)
                ; Some other IANA-registered iCalendar free/busy type.
       ; Default is BUSY
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xcal:TextParameterType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- 3.2.10 Language -->
	<xs:complexType mixed="false" name="LanguageParamType">
		<xs:complexContent>
			<xs:extension base="xcal:TextParameterType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- 3.2.11 Group or List Membership -->
	<xs:complexType mixed="false" name="MemberParamType">
		<xs:complexContent>
			<xs:extension base="xcal:CalAddressListParamType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- 3.2.12 Participation Status -->
	<xs:complexType mixed="false" name="PartstatParamType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
       partstat-event   = ("NEEDS-ACTION"    ; Event needs action
                        / "ACCEPTED"         ; Event accepted
                        / "DECLINED"         ; Event declined
                        / "TENTATIVE"        ; Event tentatively
                                             ; accepted
                        / "DELEGATED"        ; Event delegated
                        / x-name             ; Experimental status
                        / iana-token)        ; Other IANA-registered
                                             ; status
       ; These are the participation statuses for a "VEVENT".
       ; Default is NEEDS-ACTION.

       partstat-todo    = ("NEEDS-ACTION"    ; To-do needs action
                        / "ACCEPTED"         ; To-do accepted
                        / "DECLINED"         ; To-do declined
                        / "TENTATIVE"        ; To-do tentatively
                                             ; accepted
                        / "DELEGATED"        ; To-do delegated
                        / "COMPLETED"        ; To-do completed
                                             ; COMPLETED property has
                                             ; DATE-TIME completed
                        / "IN-PROCESS"       ; To-do in process of
                                             ; being completed
                        / x-name             ; Experimental status
                        / iana-token)        ; Other IANA-registered
                                             ; status
       ; These are the participation statuses for a "VTODO".
       ; Default is NEEDS-ACTION.

       partstat-jour    = ("NEEDS-ACTION"    ; Journal needs action
                        / "ACCEPTED"         ; Journal accepted
                        / "DECLINED"         ; Journal declined
                        / x-name             ; Experimental status
                        / iana-token)        ; Other IANA-registered
                                             ; status
       ; These are the participation statuses for a "VJOURNAL".
       ; Default is NEEDS-ACTION.
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xcal:TextParameterType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- 3.2.13 Recurrence Identifier Range -->
	<xs:simpleType name="RangeValueType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="THISANDFUTURE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType mixed="false" name="RangeParamType">
		<xs:complexContent>
			<xs:extension base="xcal:BaseParameterType">
				<xs:sequence>
					<xs:element name="text" type="xcal:RangeValueType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- 3.2.14 Alarm Trigger Relationship -->
	<xs:complexType mixed="false" name="RelatedParamType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
       trigrelparam       = "RELATED" "="
                           ("START"       ; Trigger off of start
                          / "END")        ; Trigger off of end
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xcal:TextParameterType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- 3.2.15 Relationship Type -->
	<xs:complexType mixed="false" name="ReltypeParamType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
       reltypeparam       = "RELTYPE" "="
                           ("PARENT"    ; Parent relationship - Default
                          / "CHILD"     ; Child relationship
                          / "SIBLING"   ; Sibling relationship
                          / iana-token  ; Some other IANA-registered
                                        ; iCalendar relationship type
                          / x-name)     ; A non-standard, experimental
                                        ; relationship type
        Ws-Calendar adds the values
                           / "FINISHTOSTART"
                           / "FINISHTOFINISH"
                           / "STARTTOFINISH"
                           / "STARTTOSTART"             
                           
       ; Default is PARENT
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xcal:TextParameterType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- 3.2.16 Participation Role -->
	<xs:complexType mixed="false" name="RoleParamType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
        Standard values
           "CHAIR" 
           "REQ-PARTICIPANT" 
           "OPT-PARTICIPANT" 
           "NON-PARTICIPANT"
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xcal:TextParameterType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- 3.2.17 RSVP Expectation -->
	<xs:complexType mixed="false" name="RsvpParamType">
		<xs:complexContent>
			<xs:extension base="xcal:BooleanParameterType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- 3.2.18 Sent By -->
	<xs:complexType mixed="false" name="SentByParamType">
		<xs:complexContent>
			<xs:extension base="xcal:CalAddressParamType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- 3.2.19 Time Zone Identifier -->
	<xs:complexType mixed="false" name="TzidParamType">
		<xs:complexContent>
			<xs:extension base="xcal:TextParameterType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- Scheduling parameters - Defined by CalDAV scheduling -->
	<xs:complexType mixed="false" name="ScheduleAgentParamType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
        scheduleagentparam = "SCHEDULE-AGENT" "="
                        ("SERVER"      ; The server handles scheduling
                       / "CLIENT"      ; The client handles scheduling
                       / "NONE"        ; No automatic scheduling
                       / x-name        ; Experimental type
                       / iana-token)   ; Other IANA registered type
                                       ;
                                       ; Default is SERVER
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xcal:TextParameterType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="ScheduleForceSendParamType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
      scheduleforcesendparam = "SCHEDULE-FORCE-SEND" "="
                              ("REQUEST"    ; Force a "REQUEST"
                             / "REPLY"      ; Force a "REPLY"
                             / iana-token)  ; IANA registered method
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xcal:TextParameterType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="ScheduleStatusParamType">
		<xs:complexContent>
			<xs:extension base="xcal:TextParameterType"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>