TylerEcf4/src/main/resources/wsdl/v2025_4/base/ecf-v5-6cc64da7eaf0a88f.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:tyler:ecf:v5.0:extensions:common" xmlns:allocate="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/allocatedate" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:ns1="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:reservedate="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/reservedate" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" targetNamespace="urn:tyler:ecf:v5.0:extensions:common">
	<xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.0/" schemaLocation="ecf-v5-f170c31c1d220487.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecf-v5-966bb27464653f84.xsd"/>
	<xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf-v5-005ddcb9c0fe05de.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="ecf-v5-4d179e3e0bd140a9.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="ecf-v5-43381e9aa490c46d.xsd"/>
	<xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/reservedate" schemaLocation="ecf-v5-aff3a952440669b0.xsd"/>
	<xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/allocatedate" schemaLocation="ecf-v5-cba000fae3e952a9.xsd"/>
	<xs:complexType name="CourtEventAugmentationType">
		<xs:annotation>
			<xs:documentation>An augmentation type</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:AugmentationType">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" ref="CourtSchedule"/>
					<xs:element minOccurs="0" ref="CourtRoom"/>
					<xs:element minOccurs="0" ref="CourtStreet"/>
					<xs:element minOccurs="0" ref="CourtCityStateZip"/>
					<xs:element minOccurs="0" ref="HearingIdentification"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MotionTypeCode" substitutionGroup="ecf:CourtLocationCode" type="nc:TextType"/>
	<xs:complexType name="CourtScheduleType">
		<xs:sequence>
			<xs:element ref="ScheduleDayStartTime"/>
			<xs:element ref="ScheduleDayEndTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReserveDateAugmentationType">
		<xs:complexContent>
			<xs:extension base="structures:AugmentationType">
				<xs:sequence>
					<xs:element ref="OutOfStateIndicator"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AllocateCourtDateAugmentationType">
		<xs:complexContent>
			<xs:extension base="structures:AugmentationType">
				<xs:sequence>
					<xs:element ref="OutOfStateIndicator"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CaseAugmentationType">
		<xs:complexContent>
			<xs:extension base="structures:AugmentationType">
				<xs:sequence>
					<xs:element minOccurs="0" ref="FilingParty"/>
					<xs:element minOccurs="0" ref="FilingAttorney"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" ref="CrossReferenceNumber"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FilingReferenceType">
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FilingPartyEntityType">
		<xs:sequence>
			<xs:element minOccurs="0" ref="PartyReference"/>
			<xs:element minOccurs="0" ref="PartyIdentification"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FilingAttorneyEntityType">
		<xs:sequence>
			<xs:element minOccurs="0" ref="AttorneyReference"/>
			<xs:element minOccurs="0" ref="AttorneyIdentification"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CourtRoom" type="nc:TextType"/>
	<xs:element name="CourtStreet" type="nc:TextType"/>
	<xs:element name="CourtCityStateZip" type="nc:TextType"/>
	<xs:element name="CourtEventAugmentation" substitutionGroup="j:CourtEventAugmentationPoint" type="CourtEventAugmentationType"/>
	<xs:element name="CaseAugmentation" nillable="false" substitutionGroup="nc:CaseAugmentationPoint" type="CaseAugmentationType"/>
	<xs:element name="PartyReference" type="FilingReferenceType"/>
	<xs:element name="AttorneyReference" type="FilingReferenceType"/>
	<xs:element name="PartyIdentification" type="nc:IdentificationType"/>
	<xs:element name="FilingParty" type="FilingPartyEntityType"/>
	<xs:element name="FilingAttorney" type="FilingAttorneyEntityType"/>
	<xs:element name="AttorneyIdentification" type="nc:IdentificationType"/>
	<xs:element name="OutOfStateIndicator" nillable="false" type="niem-xs:boolean"/>
	<xs:element name="ReserveDateAugmentation" substitutionGroup="reservedate:ReserveCourtDateMessageAugmentationPoint" type="ReserveDateAugmentationType"/>
	<xs:element name="AllocateCourtDateAugmentation" substitutionGroup="allocate:AllocateCourtDateMessageAugmentationPoint" type="AllocateCourtDateAugmentationType"/>
	<xs:element name="CrossReferenceNumber" type="nc:IdentificationType"/>
	<xs:element name="ScheduleDayStartTime" type="nc:DateType"/>
	<xs:element name="ScheduleDayEndTime" type="nc:DateType"/>
	<xs:element name="CourtSchedule" type="CourtScheduleType"/>
	<xs:element name="HearingIdentification" type="nc:IdentificationType"/>
</xs:schema>