TylerEcf4/src/main/resources/wsdl/v2025_4/base/ecf-v5-18ba12771e95950e.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><!-- NIEM extension schema generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/stampinformationcallback" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.0/" xmlns:local="local" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:stampinformationcallback="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/stampinformationcallback" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/stampinformationcallback" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/stampinformationcallback</xs:documentation>
</xs:annotation><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf-v5-005ddcb9c0fe05de.xsd"/><xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.0/" schemaLocation="ecf-v5-f170c31c1d220487.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecf-v5-966bb27464653f84.xsd"/><xs:complexType name="NotifyDocumentStampInformationMessageType">
<xs:annotation>
<xs:documentation>A response to a request for document stamping information.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:CallbackMessageType">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="stampinformationcallback:NotifyDocumentStampInformationMessageAugmentationPoint"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="NotifyDocumentStampInformationMessage" nillable="false" type="stampinformationcallback:NotifyDocumentStampInformationMessageType">
<xs:annotation>
<xs:documentation>A response to a request for document stamping information.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element abstract="true" name="NotifyDocumentStampInformationMessageAugmentationPoint">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>