proxyserver/src/main/resources/wsdl/stage/ecf-26.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><!--
     Electronic Court Filing Version 4.01 Plus Errata 01
     OASIS Standard incorporating Public Review Draft 01 of Errata 01
     13 May 2014
     Copyright (c) OASIS Open 2014. All Rights Reserved.
     Source: http://docs.oasis-open.org/legalxml-courtfiling/specs/ecf/v4.01/ecf-v4.01-spec/errata01/csprd01/xsd/
     --><!--
OASIS takes no position regarding the validity or scope of any intellectual property or other rights that might be claimed to pertain to the implementation or use of the technology described in this document or the extent to which any license under such rights might or might not be available; neither does it represent that it has made any effort to identify any such rights. Information on OASIS's procedures with respect to rights in OASIS specifications can be found at the OASIS website. Copies of claims of rights made available for publication and any assurances of licenses to be made available, or the result of an attempt made to obtain a general license or permission for the use of such proprietary rights by implementors or users of this specification, can be obtained from the OASIS Executive Director.
 
This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this paragraph are included on all such copies and derivative works. However, this document itself may not be modified in any way, such as by removing the copyright notice or references to OASIS, except as needed for the purpose of developing OASIS specifications, in which case the procedures for copyrights defined in the OASIS Intellectual Property Rights document must be followed, or as required to translate it into languages other than English. 

The limited permissions granted above are perpetual and will not be revoked by OASIS or its successors or assigns. 

This document and the information contained herein is provided on an "AS IS" basis and OASIS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.

--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:JuvenileCase-4.0" xmlns:a="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppInfo-4.0" xmlns:ecf="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.0" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" targetNamespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:JuvenileCase-4.0" version="4.0">
	<xsd:annotation>
		<xsd:documentation>JuvenileCase</xsd:documentation>
		<xsd:appinfo>
			<i:ConformantIndicator>true</i:ConformantIndicator>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="ecf-2.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="ecf-3.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="ecf-4.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="ecf-13.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.0" schemaLocation="ecf-17.xsd"/>
	<xsd:import namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" schemaLocation="ecf-18.xsd"/>
	<xsd:import namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppInfo-4.0" schemaLocation="ecf-19.xsd"/>
	<xsd:complexType name="DelinquentActType">
		<xsd:annotation>
			<xsd:documentation>The statutory or ordinance section, the violation of which would constitute a crime if committed by an adult. May include a probation violation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:IncidentType">
				<xsd:sequence>
					<xsd:element ref="DelinquentActStatute"/>
					<xsd:element minOccurs="0" ref="DelinquentActSeverityCode"/>
					<xsd:element minOccurs="0" ref="DelinquentActDegreeCode"/>
					<xsd:element minOccurs="0" ref="DelinquentActApplicabilityCode"/>
					<xsd:element minOccurs="0" ref="DelinquentActSpecialAllegationCode"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DependencyAllegationType">
		<xsd:annotation>
			<xsd:documentation>The grounds for declaring a minor child to be a ward of the state because of the neglect or abuse of the minor child's parents or guardians.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="DependencyAllegationCode"/>
					<xsd:element minOccurs="0" ref="DependencyAllegationText"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GuardianAssociationType">
		<xsd:annotation>
			<xsd:documentation>Information about the juvenile's parent(s) or guardian(s).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:GuardianAssociationType">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="GuardianAssociationTypeCode"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="JuvenileCaseType">
		<xsd:annotation>
			<xsd:documentation>A delinquency or dependency case.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:CaseType">
				<xsd:sequence>
					<xsd:element ref="j:CaseAugmentation"/>
					<xsd:element ref="ecf:CaseAugmentation"/>
					<xsd:element ref="JuvenileCaseJuvenile"/>
					<xsd:element minOccurs="0" ref="CaseArrest"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="DependencyAllegation"/>
					<xsd:choice maxOccurs="unbounded" minOccurs="0">
						<xsd:element ref="DelinquentAct"/>
						<xsd:element ref="StatusOffenseAct"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="JuvenileType">
		<xsd:annotation>
			<xsd:documentation>A minor who is the subject of a delinquency or dependency case.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ecf:SubjectType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:PersonGangAssociation"/>
					<xsd:element minOccurs="0" ref="j:RegisteredSexOffender"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="GuardianAssociation"/>
					<xsd:element ref="PersonEmancipatedIndicator"/>
					<xsd:element minOccurs="0" ref="PlacementAssociation"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType abstract="true" name="PlacementAssociationType">
		<xsd:annotation>
			<xsd:documentation>Information about the person or organization orther than parent or guardian with whom the juvenile lives. Examples: Foster home, foster parents, state institution, hospital, shelter.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:AssociationType">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="PlacementTypeCode"/>
					<xsd:element minOccurs="0" ref="PlacementStartDate"/>
					<xsd:element minOccurs="0" ref="PlacementEntity"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StatusOffenseActType">
		<xsd:annotation>
			<xsd:documentation>An act or behavior that would not constitute a crime if committed by an adult, which will subject a juvenile to adjudication as a delinquent by a court. Examples include truancy and refusal to abide by a parent's orders or direction.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:IncidentType">
				<xsd:sequence>
					<xsd:element ref="StatusOffenseActStatute"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="CaseArrest" type="j:ArrestType">
		<xsd:annotation>
			<xsd:documentation>Arrest of a minor for commission of an act subjecting the minor to adjudication as a delinquent.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DelinquentAct" type="DelinquentActType">
		<xsd:annotation>
			<xsd:documentation>An action or behavior of a juvenile that makes the juvenile potentially subject to adjudication by the juvenile court as a delinquent. The statutory or ordinance section, the violation of which would constitute a crime if committed by an adult. May include a probation violation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DelinquentActStatute" type="j:StatuteType">
		<xsd:annotation>
			<xsd:documentation>Code designating the statutory or ordinance section, the violation of which would constitute a crime if committed by an adult. May include a probation violation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DelinquentActSeverityCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Code identifying the level of the offense as defined in state law. Allowable values set forth in Court Policy. Example: Felony, Misdemeanor, Infraction, Ordinance Violation.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DelinquentActDegreeCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Code indicating the degree of an offense as defined in state law. Allowable values set forth in Court Policy. Examples: First Degree Murder, Felony Type A/B/C.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DelinquentActApplicabilityCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Code indicating the general category of the offense as set forth in state law. Allowable values set forth in Court Policy. Examples: Attempt, Conspiracy, Accessory before the fact, Accessory after the fact. </xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DelinquentActSpecialAllegationCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Code indicating the existence of a factor that, under state law, heightens the seriousness of the charge and would subject an adult to increase punishment. Allowable values set forth in Court Policy. Examples: Use of deadly weapon, use of gun.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DependencyAllegation" type="DependencyAllegationType">
		<xsd:annotation>
			<xsd:documentation>The grounds for declaring a minor child to be a ward of the state because of the neglect or abuse of the minor child's parents or guardians.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DependencyAllegationCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A code identifying a specific ground sufficient in law for declaring the minor child a ward of the state. Allowable values set forth in Court Policy. </xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DependencyAllegationText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Legal term used to describe the ground on which the minor child can be declared a ward of the state.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GuardianAssociation" type="GuardianAssociationType">
		<xsd:annotation>
			<xsd:documentation>Information about the juvenile's parent(s) or guardian(s).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GuardianAssociationTypeCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A code describing the parent or guardian's relationship to the juvenile. Allowable values are set forth in court filing policy. Examples: Father, Mother, Guardian</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
				<a:CodeListReference a:CanonicalURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:GuardianAssociationTypeCode" a:CanonicalVersionURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:GuardianAssociationTypeCode-4.0" a:LocationURI="../../gc/ECF-4.0-GuardianAssociationTypeCode.gc"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="JuvenileCase" substitutionGroup="nc:Case" type="JuvenileCaseType">
		<xsd:annotation>
			<xsd:documentation>A delinquency or dependency case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="JuvenileCaseJuvenile" type="JuvenileType">
		<xsd:annotation>
			<xsd:documentation>The minor who is the subject of this delinquency or dependency case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonEmancipatedIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicator whether a minor has been adjudicated an emancipated person by a court.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PlacementAssociation" type="PlacementAssociationType">
		<xsd:annotation>
			<xsd:documentation>Information about the person or organization with whom the juvenile lives.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PlacementEntity" type="nc:EntityType">
		<xsd:annotation>
			<xsd:documentation>Information about the person or organization with whom the juvenile lives.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PlacementTypeCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Code indicating the type of placement. Allowable values set forth in Court Policy.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PlacementStartDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>Date on which the placement commenced.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StatusOffenseAct" type="StatusOffenseActType">
		<xsd:annotation>
			<xsd:documentation>An action or behavior of a juvenile that makes the juvenile potentially subject to adjudication by the juvenile court as a delinquent. but would not constitute a crime if committed by an adult.  Examples include truancy and refusal to abide by a parent's orders or direction.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StatusOffenseActStatute" type="j:StatuteType">
		<xsd:annotation>
			<xsd:documentation>Code designating the statutory or ordinance section, the violation of which would not constitute a crime if committed by an adult (only if a juvenile).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubjectICEIdentification" type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>Identifier assigned by the Immigration and Customs Enforcement Bureau of the U.S. Department of Homeland Security.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>