TylerEcf5/src/main/resources/wsdl/v2024_6/base/ecfv5-2a587b999421d674.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:tyler:ecf:v5.0:extensions:batchcallback" xmlns:batchcallback="urn:tyler:ecf:v5.0:extensions:batchcallback" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:common="urn:tyler:ecf:v5.0:extensions:common" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.1/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" targetNamespace="urn:tyler:ecf:v5.0:extensions:batchcallback" version="5.0">
	<xs:annotation>
		<xs:documentation> Schema for namespace urn:tyler:ecf:v5.0:extensions:batchcallback</xs:documentation>
	</xs:annotation>
	<xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecfv5-ea1e0f75b69752b5.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecfv5-7af13829a6695741.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="ecfv5-43381e9aa490c46d.xsd"/>
	<xs:import namespace="urn:tyler:ecf:v5.0:extensions:common" schemaLocation="ecfv5-dd545670aa04333d.xsd"/>
	
	<xs:complexType name="NotifyBatchCompleteMessageType">
		<xs:annotation>
			<xs:documentation>The asynchronous message from the Filing Review MDE to the Filing Assembly MDE conveying information concerning the batch actions on the documents submitted for filing in a ReviewFilingMessage.</xs:documentation>
		</xs:annotation>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" ref="ecf:SendingMDELocationID"/>
				<xs:element maxOccurs="1" minOccurs="1" ref="ecf:ServiceInteractionProfileCode"/>
				<xs:element maxOccurs="1" minOccurs="1" ref="nc:DocumentPostDate"/>
				<xs:element minOccurs="1" ref="common:BatchStatus"/>
				<xs:element ref="common:BatchIdentification"/>
				<xs:element ref="common:BatchSize"/>
				<xs:element ref="common:HearingSchedule"/>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="common:Envelope"/>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="batchcallback:NotifyBatchCompleteMessageAugmentationPoint"/>
			</xs:sequence>
	</xs:complexType>
	<xs:element name="NotifyBatchCompleteMessage" type="batchcallback:NotifyBatchCompleteMessageType">
		<xs:annotation>
			<xs:documentation>The asynchronous message from the Filing Review MDE to the Filing Assembly MDE conveying information concerning the batch actions on the documents submitted for filing in a ReviewFilingMessage.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element abstract="true" name="NotifyBatchCompleteMessageAugmentationPoint">
		<xs:annotation>
			<xs:documentation>An extension point for the enclosing message.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>