TylerEcf5/src/main/resources/wsdl/v2024_6/base/ecfv5-ae21ebba74fbde20.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/docketcallback" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:docketcallback="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/docketcallback" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/docketcallback" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/docketcallback</xs:documentation>
</xs:annotation><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecfv5-ea1e0f75b69752b5.xsd"/><xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="ecfv5-43381e9aa490c46d.xsd"/><xs:complexType name="NotifyDocketingCompleteMessageType">
<xs:annotation>
<xs:documentation>The message returned from the Court Record MDE to the Filing Review MDE when the functions of entering information onto the docket or register of actions and commiting a filed document(s) to the official court record have been completed, conveying the results of those functions.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:CallbackMessageType">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="docketcallback:NotifyDocketingCompleteMessageAugmentationPoint"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:element name="NotifyDocketingCompleteMessage" type="docketcallback:NotifyDocketingCompleteMessageType">

<xs:annotation>
<xs:documentation>The message returned from the Court Record MDE to the Filing Review MDE when the functions of entering information onto the docket or register of actions and commiting a filed document(s) to the official court record have been completed, conveying the results of those functions.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element abstract="true" name="NotifyDocketingCompleteMessageAugmentationPoint">

<xs:annotation>
<xs:documentation>An extension point for the enclosing message.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>