TylerEcf5/src/main/resources/wsdl/v2024_6/base/ecfv5-43381e9aa490c46d.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" targetNamespace="http://release.niem.gov/niem/structures/4.0/" version="4.0">

    <xs:attribute name="id" type="xs:ID"/>
    <xs:attribute name="ref" type="xs:IDREF"/>
    <xs:attribute name="uri" type="xs:anyURI"/>
    <xs:attribute name="metadata" type="xs:IDREFS"/>
    <xs:attribute name="relationshipMetadata" type="xs:IDREFS"/>
   
    <xs:attributeGroup name="SimpleObjectAttributeGroup">
        <xs:attribute ref="structures:id"/>
        <xs:attribute ref="structures:ref"/>
        <xs:attribute ref="structures:uri"/>
        <xs:attribute ref="structures:metadata"/>
        <xs:attribute ref="structures:relationshipMetadata"/>
        <xs:anyAttribute namespace="urn:us:gov:ic:ism urn:us:gov:ic:ntk" processContents="lax"/>
    </xs:attributeGroup>

    <xs:complexType abstract="true" name="ObjectType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="structures:ObjectAugmentationPoint"/>
        </xs:sequence>
        <xs:attribute ref="structures:id"/>
        <xs:attribute ref="structures:ref"/>
        <xs:attribute ref="structures:uri"/>
        <xs:attribute ref="structures:metadata"/>
        <xs:attribute ref="structures:relationshipMetadata"/>
        <xs:anyAttribute namespace="urn:us:gov:ic:ism urn:us:gov:ic:ntk" processContents="lax"/>
    </xs:complexType>

    <xs:element abstract="true" name="ObjectAugmentationPoint">
        <xs:annotation>
            <xs:documentation>An augmentation point for ObjectType</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType abstract="true" name="AssociationType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="structures:AssociationAugmentationPoint"/>
        </xs:sequence>
        <xs:attribute ref="structures:id"/>
        <xs:attribute ref="structures:ref"/>
        <xs:attribute ref="structures:uri"/>
        <xs:attribute ref="structures:metadata"/>
        <xs:attribute ref="structures:relationshipMetadata"/>
        <xs:anyAttribute namespace="urn:us:gov:ic:ism urn:us:gov:ic:ntk" processContents="lax"/>
    </xs:complexType>

    <xs:element abstract="true" name="AssociationAugmentationPoint">
        <xs:annotation>
            <xs:documentation>An augmentation point for AssociationType</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType abstract="true" name="MetadataType">
        <xs:attribute ref="structures:id"/>
        <xs:attribute ref="structures:ref"/>
        <xs:attribute ref="structures:uri"/>
        <xs:anyAttribute namespace="urn:us:gov:ic:ism urn:us:gov:ic:ntk" processContents="lax"/>
    </xs:complexType>

    <xs:complexType abstract="true" name="AugmentationType">
        <xs:attribute ref="structures:id"/>
        <xs:attribute ref="structures:ref"/>
        <xs:attribute ref="structures:uri"/>
        <xs:attribute ref="structures:metadata"/>
        <xs:anyAttribute namespace="urn:us:gov:ic:ism urn:us:gov:ic:ntk" processContents="lax"/>
    </xs:complexType>

</xs:schema>