TylerEcf5/src/main/resources/wsdl/v2024_6/base/ecfv5-6dc22970171b22e6.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:tyler:ecf:v5.0:extensions:filingserviceresponse" xmlns:common="urn:tyler:ecf:v5.0:extensions:common" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.1/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" targetNamespace="urn:tyler:ecf:v5.0:extensions:filingserviceresponse">
	<xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecfv5-ea1e0f75b69752b5.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.1/" schemaLocation="ecfv5-3fca6aa6e33300e4.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecfv5-7af13829a6695741.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="ecfv5-4d179e3e0bd140a9.xsd"/>
	<xs:import namespace="urn:tyler:ecf:v5.0:extensions:common" schemaLocation="ecfv5-dd545670aa04333d.xsd"/>
	<xs:complexType name="GetFilingServiceResponseMessageType">
		<xs:complexContent>
			<xs:extension base="ecf:ResponseMessageType">
				<xs:sequence>
					<xs:element ref="ecf:ServiceRecipientID"/>
					<xs:element minOccurs="1" ref="MailServiceIndicator"/>
					<xs:element minOccurs="0" ref="TrackingNumber"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" ref="SmtpLog"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GetFilingServiceResponseMessage" type="GetFilingServiceResponseMessageType"/>
	<xs:element name="MailServiceIndicator" type="niem-xs:boolean"/>
	<xs:element name="SmtpLog" type="nc:TextType"/>
	<xs:element name="TrackingNumber" type="nc:TextType"/>
</xs:schema>