TylerEcf5/src/main/resources/wsdl/v2024_6/base/ecfv5-3f22308cef4a62ab.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><!-- edited with XMLSpy v2018 sp1 (http://www.altova.com) by Tyler Technologies (Tyler Technologies) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="urn:tyler:ecf:v5.0:extensions:common" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:recordservice="urn:tyler:ecf:v5.0:extensions:recordservice" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:tyler:ecf:v5.0:extensions:recordservice">
	<xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecfv5-ea1e0f75b69752b5.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="ecfv5-7af13829a6695741.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="ecfv5-4d179e3e0bd140a9.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="ecfv5-43381e9aa490c46d.xsd"/>
	<xs:import namespace="urn:tyler:ecf:v5.0:extensions:common" schemaLocation="ecfv5-dd545670aa04333d.xsd"/>
	<xs:complexType name="RecordServiceMessageType">
		<xs:annotation>
			<xs:documentation>Message to record service for filing.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ecf:CaseFilingType">
				<xs:sequence>
					<xs:element minOccurs="0" ref="nc:Case"/>
					<xs:element maxOccurs="unbounded" ref="common:ServiceRecipient"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" ref="recordservice:RecordServiceMessageAugmentationPoint"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RecordServiceMessage" type="recordservice:RecordServiceMessageType">
		<xs:annotation>
			<xs:documentation>Message to record service for filing.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element abstract="true" name="RecordServiceMessageAugmentationPoint">
		<xs:annotation>
			<xs:documentation>An extension point for the enclosing message.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>